<form method="get" class="row g-2 align-items-center mb-3">

    <!-- NỘI DUNG DỪNG MÁY -->
    <div class="col-md-auto">
        <small for="noidungDung" class=" fw-bold">NỘI DUNG DỪNG MÁY:</small>
    </div>
    <div class="col-md-2">
        <input type="text" id="noidungDung" name="noidungDung" class="form-control form-control-sm"
               placeholder="Tìm kiếm" value="@ViewBag.noidungDung">
    </div>

    <!-- TỪ NGÀY -->
    <div class="col-md-auto">
        <small for="begind" class=" fw-bold">TỪ NGÀY:</small>
    </div>
    <div class="col-md-2">
        @Html.TextBox("begind", null, new { @id = "begind", @type = "date", @class = "form-control form-control-sm" })
    </div>

    <!-- ĐẾN NGÀY -->
    <div class="col-md-auto">
        <small for="endd" class=" fw-bold">ĐẾN NGÀY:</small>
    </div>
    <div class="col-md-2">
        @Html.TextBox("endd", null, new { @id = "endd", @type = "date", @class = "form-control form-control-sm" })
    </div>

    <!-- Ca làm việc -->
    <div class="col-md-2">
        @Html.DropDownList("IDCa", null, "---- Ca làm việc ----", new { @id = "IDCa", @class = "form-select form-select-sm" })
    </div>

    <!-- Lý do dừng -->
    <div class="col-md-2">
        @Html.DropDownList("LyDoDung", null, "---- Lý do dừng ----", new { @id = "LyDoDung", @class = "form-select form-select-sm" })
    </div>

    <!-- Phòng ban -->
    <div class="col-md-2">
        @Html.DropDownList("IDPhongBan", null, "---- Phòng ban ----", new { @id = "IDPhongBan", @class = "form-select form-select-sm" })
    </div>

    <div class="col-md-2">
        @Html.DropDownList("IDXuong", null, "---- Xưởng ----", new { @id = "IDXuong", @class = "form-select form-select-sm" })
    </div>

    <!-- Trạng thái phiếu -->
    <div class="col-md-2">
        @Html.DropDownList("ID_TrangThai", null, "---- Trạng thái phiếu ----", new { @id = "ID_TrangThai", @class = "form-select form-select-sm" })
    </div>

    <!-- Nút Tìm kiếm -->
   @* <div class="col-md-2 d-grid">
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fas fa-search"></i> Tìm kiếm
        </button>
    </div>*@
    <!-- Nút Export -->
    <div class="col-auto">
        <button type="submit" class="btn btn-primary btn-sm">Tìm kiếm</button>
        <button type="submit" class="btn btn-success btn-sm" formaction="@Url.Action("ExportToExcel")">
            <i class="fas fa-file-excel"></i> Xuất Excel
        </button>
    </div>
</form>
<script type="text/javascript">
    var IDPBC = $("#IDPhongBan").val();
    if (IDPBC != null) {
        $.get("/BM_11/Xuong", { IDPhongBan: $("#IDPhongBan").val() }, function (data) {
            if (data[0] != null) {
                $("#IDXuong").empty();
                $("#IDXuong").append("<option value ='" + null + "'>" + "--Chọn xưởng--" + "</option>")
                $.each(data, function (index, row) {

                    if (@ViewBag.XuongSelect == row.iD_Xuong) {
                        $("#IDXuong").append("<option value ='" + row.iD_Xuong + "' selected>" + row.tenXuong + "</option>");
                    }
                    else {
                        $("#IDXuong").append("<option value ='" + row.iD_Xuong + "'>" + row.tenXuong + "</option>");
                    }
                });
            }
            else {
                $("#IDXuong").empty();
                $("#IDXuong").append("<option value ='" + null + "'>" + "--Không có Xưởng--" + "</option>")
            }
        });
    }
    $("#IDPhongBan").change(function () {
        $.get("/BM_11/Xuong", { IDPhongBan: $("#IDPhongBan").val() }, function (data) {
            if (data[0] != null) {
                $("#IDXuong").empty();
                $("#IDXuong").append("<option value ='" + null + "'>" + "--Chọn xưởng--" + "</option>")
                $.each(data, function (index, row) {
                    $("#IDXuong").append("<option value ='" + row.iD_Xuong + "'>" + row.tenXuong + "</option>");
                });
            }
            else {
                $("#IDXuong").empty();
                $("#IDXuong").append("<option value ='" + null + "'>" + "--Không có Xưởng--" + "</option>")
            }
        });
    });
</script>