@model IEnumerable<Data_Product.Models.Tbl_NhatKy_SanXuat>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@using Data_Product.DTO
@using Data_Product.Repositorys;
@inject Data_Product.Repositorys.DataContext _context

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    ViewData["Title"] = "Index_BTBD";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

}
<div class="app-main__outer">
    <div class="app-main__inner" style="display:block;padding-bottom: 0px;">
        <div class="tab-content">
            <div class="row">
                <div class="card">

                    @using (Html.BeginForm("Index_BTBD", "BM_NhatKy_SanXuat", FormMethod.Get, new { @id = "form-filter" }))
                    {
                        <div class="card-header" style="border-bottom: 0px; padding-bottom:2%;">
                            <div class="row">
                                <div class="col-md-1 pt-2 text-start">
                                    <small><b style="font-size: 15px; color: black;">TỪ NGÀY :</b></small>
                                </div>
                                <div class="col-md-2">
                                    @Html.TextBox("begind", ViewBag.begind as string, new { @id = "begind", @type = "date", @class = "form-control form-control-sm" })
                                </div>
                                <div class="col-md-1 pt-2 text-center">
                                    <small><b style="font-size: 15px; color: black;">ĐẾN NGÀY :</b></small>
                                </div>
                                <div class="col-md-2">
                                    @Html.TextBox("endd", ViewBag.endd as string, new { @id = "endd", @type = "date", @class = "form-control form-control-sm" })
                                </div>
                                <div class="col-md-1 pt-2 text-end">
                                    <small><b style="font-size: 15px; color: black;">TRẠNG THÁI :</b></small>
                                </div>
                                <div class="col-md-2">
                                    @Html.DropDownList("ID_TrangThai", ViewBag.TTList as SelectList, "---- Trạng thái phiếu ----", new { @class = "form-control form-control-sm" })
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary" style="border-radius: 5px;">
                                        <i class="bi bi-search"></i>
                                        <span class="small ps-1" style="color: white;">Tìm kiếm</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="card-body">
                        <div class="table-responsive" style="height: 550px;">
                            <table class="table table-bordered table-hover" id="table" cellpadding="0">
                                <thead style="height: 60px;font-size: 14px;">
                                    <tr>
                                        <th width="30px" rowspan="3" style="vertical-align:middle;background-color: #f7f7f7;">STT</th>
                                        <th class="text-center" rowspan="3" width="150px" style="vertical-align:middle;background-color: #f7f7f7;">Số Phiếu</th>
                                        <th class="text-center" rowspan="3" width="150px" style="vertical-align:middle;background-color: #f7f7f7;">Kíp làm việc</th>
                                        <th class="text-center" rowspan="3" width="150px" style="vertical-align:middle;background-color: #f7f7f7;">Ngày dừng sản xuất</th>
                                        <th class="text-center" rowspan="3" width="200px" style="vertical-align:middle;background-color: #f7f7f7;">Nhân viên xử lý BTBD</th>
                                        <th class="text-center" rowspan="3" width="200px" style="vertical-align:middle;background-color: #f7f7f7;">Tình trạng</th>
                                        <th class="text-center" rowspan="3" width="150px" style="vertical-align:middle;background-color: #f7f7f7;">Người tạo</th>
                                        <th class="text-center" rowspan="3" width="150px" style="vertical-align:middle;background-color: #f7f7f7;">Ghi chú</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int pageno = (int)pager.CurrentPage;
                                        int itemperpage = (int)pager.PageSize;
                                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="text-center" style="font-size:14px;vertical-align:middle;">
                                                @RowNo@{
                                                    RowNo++;
                                                }
                                            </td>
                                            <td style="font-size:14px;color: #335FB3">
                                                <a class="nav-link collapsed" href="@Url.Action("View_BTBD", "BM_NhatKy_SanXuat", new{IDNKSX = item.ID})">
                                                    @item.SoPhieu
                                                </a>
                                            </td>
                                            <td style="font-size:14px;">
                                                @item.Ca@item.Kip
                                            </td>
                                            <td class="text-center" style="font-size:14px;vertical-align:middle;">@item.NgayDungSX.ToString("dd/MM/yyyy")</td>
                                            <td class="text-center" style="font-size:14px;vertical-align:middle;">@item.HoTen_NhanVien_BTBD</td>
                                            <td class="text-center" style="font-size:14px;">
                                                <button id="btn-add" type="button" type="button" class="btn btn-sm" style="width: 150px;background-color:@ConstantsDungSX.Mau(item.TinhTrang)">
                                                    <span class="small pt-2 ps-1" style="color: white;">
                                                        @ConstantsDungSX.TinhTrangBTBT(item.TinhTrang)
                                                    </span>
                                                </button>
                                            </td>
                                            <td style="font-size:14px;">
                                                @item.Tbl_TaiKhoan?.TenTaiKhoan - @item.Tbl_TaiKhoan?.HoVaTen
                                            </td>
                                            <td style="font-size:14px;">
                                                @item.GhiChu
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>
                        <div class="container" style="margin:0px; padding:1% 0% 0% 0%;">
                            @if (pager.TotalPages > 0)
                            {
                                @Html.Partial("_Pagination", pager)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
