@using Data_Product.Models
@using System.Security.Claims;
@using Data_Product.Repositorys;
@using Microsoft.EntityFrameworkCore;
@inject Data_Product.Repositorys.DataContext _context
@model Data_Product.Models.Tbl_ChiTiet_BBGNGangLong
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
@{
    int ID = Convert.ToInt32(ViewBag.Data);
    var ID_BBGN = (from bbgl in _context.Tbl_BBGNGangLong
                   join ctbbgl in _context.Tbl_ChiTiet_BBGNGangLong
                   on bbgl.ID_BBGL equals ctbbgl.ID_BBGL
                   where ctbbgl.ID_BBGL == ID
                   select bbgl).FirstOrDefault();
    var Ykien = _context.Tbl_YeuCauHieuChinh.Where(x => x.ID_BBGN == ID).OrderByDescending(x => x.ID_YeuCau).FirstOrDefault();
}
@using (Html.BeginForm("SuaPhieu", "BM01_GangLong", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "submitForm(event)" }))
{
    <div class="app-main__outer">
        <div class="app-main__inner" style="display:block;padding-bottom: 0px;">
            <div class="tab-content">
                <div class="row">
                    <div class="card">
                        <div style="height: 320px;">
                            <div class="row" style="width:100%">
                                <div style="display: flex;border-bottom: 0.8px solid #E8E8E8;position: fixed;background-color: #F9F9F9;width: -webkit-fill-available;">
                                    <div class="col-8" style="text-align: left;padding: 2%  2%  2% 0%; ">
                                        <span class="text-muted small pt-2 ps-1">
                                            <b style="color:#06428b">
                                                BM.11/QT.05 (Biên bản giao nhận nguyên/nhiên/vật tư)
                                            </b>
                                        </span>
                                    </div><!-- End Recent Sales -->
                                    <div class="col-4" style="text-align: right;padding: 2%  2%  2% 0%; ">
                                        <button type="submit" class="btn btn-primary" name="xacnhan" id="xacnhan" value="0">
                                            <i class="bi bi-floppy"></i>
                                            <span class="small pt-2 ps-1" style="color: white;">
                                                Lưu phiếu
                                            </span>
                                        </button>
                                        @if (ID_BBGN.NgayXuLy_BG.ToString("dd/MM/yyyy") == DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy") || ID_BBGN.NgayXuLy_BG.ToString("dd/MM/yyyy") == DateTime.Now.ToString("dd/MM/yyyy") || true)
                                        {
                                            <button type="submit" class="btn btn-danger" name="xacnhan" id="xacnhan" value="1">
                                                <i class="bi bi-send"></i>
                                                <span class="small pt-2 ps-1" style="color: white;">
                                                    Gửi phiếu
                                                </span>
                                            </button>
                                        }

                                    </div><!-- End Recent Sales -->


                                </div>
                                <div class="col-lg-12" style="padding-top:7.5%;">
                                </div>
                                <div class="col-lg-12" style="text-align: left;background-color: #f9f9f9;height: 80px;padding: 1.7% 0% 0% 1%;border-radius: 10px;margin-left: 8px;">
                                    <span style="color:black; font-size:14px;">
                                        @ID_BBGN.SoPhieu
                                    </span>
                                </div><!-- End Recent Sales -->
                                <div class="col-lg-12" style="display:flex;padding-bottom: 1%;padding-top:1%;">
                                    @{
                                        var TenTaiKhoan = User.FindFirstValue(ClaimTypes.Name);
                                        var TaiKhoan = _context.Tbl_TaiKhoan.Where(x => x.TenTaiKhoan == TenTaiKhoan).FirstOrDefault();
                                        var PhongBan = _context.Tbl_PhongBan.Where(x => x.ID_PhongBan == TaiKhoan.ID_PhongBan).FirstOrDefault();
                                        var PhanXuong = _context.Tbl_Xuong.Where(x => x.ID_Xuong == TaiKhoan.ID_PhanXuong).FirstOrDefault();
                                        var ViTri = _context.Tbl_ViTri.Where(x => x.ID_ViTri == TaiKhoan.ID_ChucVu).FirstOrDefault();
                                    }
                                    <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9; border-radius: 10px;margin-right: 0.5%;">
                                        <div style="padding-left: 3%;padding-top:3%;">
                                            <span style="color:black; font-size:14px;">
                                                Đại diện bên giao:
                                            </span>
                                        </div>
                                        <div style="padding-left: 3%;">
                                            <span style="color:black; font-size:14px;">
                                                @TaiKhoan.TenTaiKhoan - @TaiKhoan.HoVaTen
                                            </span>
                                        </div>

                                    </div>

                                    <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;border-radius: 10px;margin-right: 0.5%;">
                                        <div style="padding-left: 3%;padding-top:3%;">
                                            <span style="color:black; font-size:14px;">
                                                Chức vụ:
                                            </span>
                                        </div>
                                        <div style="padding-left: 3%;">
                                            <span style="color:black; font-size:14px;">
                                                @ViTri.TenViTri
                                            </span>

                                        </div>

                                    </div>

                                    <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;margin-right: 1%;border-radius: 10px;">
                                        <div style="padding-left: 3%;padding-top:3%;">
                                            <span style="color:black; font-size:14px;">
                                                BP/NM:
                                            </span>
                                        </div>
                                        <div style="padding-left: 3%;">
                                            <span style="color:black; font-size:14px;">
                                                @PhongBan.TenPhongBan - @PhanXuong.TenXuong
                                            </span>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div style="height: 120px;">
                            <div class="row" style="width:100%">
                                <div class="col-lg-12" style="display:flex;padding-bottom: 1%;">
                                    <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;border-radius: 10px;margin-right: 0.5%; ">
                                        <div style="padding:1% 0% 1% 3%;">
                                            <span style="color:black; font-size:14px;">
                                                Đại diện bên nhận <span style="color:red; font-size:14px;"> (*)</span>:
                                            </span>
                                        </div>
                                        <div style="padding-left: 3%;margin-right: 3%;text-align: center;">
                                            @Html.DropDownList("IDTaiKhoan", null, "", new { id = "IDTaiKhoan", name = "IDTaiKhoan", @class = "marginTB5", })
                                        </div>

                                        <script>
                                            $(document).ready(function () {
                                                $.get("/BM01_GangLong/ChucVu", { IDTaiKhoan: $("#IDTaiKhoan").val() }, function (data) {
                                                    if (data[0] != null) {
                                                        $("#IDChucVu").empty();
                                                        //$("#ID_TaiKhoan").append("<option value ='" + null + "'>" + "--Chọn hợp đồng--" + "</option>")
                                                        $.each(data, function (index, row) {
                                                            $("#IDChucVu").append("<option value ='" + row.iD_ChucVu + "' selected>" + row.tenChucVu + "</option>");
                                                        });
                                                    }
                                                    else {
                                                        $("#IDChucVu").empty();
                                                        $("#IDChucVu").append("<option value ='" + 0 + "'>" + "--Không có chức vụ--" + "</option>")
                                                    }
                                                });
                                            })
                                        </script>



                                        <script type="text/javascript">
                                            $("#IDTaiKhoan").change(function () {
                                                console.log("1")
                                                $.get("/BM01_GangLong/ChucVu", { IDTaiKhoan: $("#IDTaiKhoan").val() }, function (data) {
                                                    if (data[0] != null) {
                                                        $("#IDChucVu").empty();
                                                        //$("#ID_TaiKhoan").append("<option value ='" + null + "'>" + "--Chọn hợp đồng--" + "</option>")
                                                        $.each(data, function (index, row) {
                                                            $("#IDChucVu").append("<option value ='" + row.iD_ChucVu + "' selected>" + row.tenChucVu + "</option>");
                                                        });
                                                    }
                                                    else {
                                                        $("#IDChucVu").empty();
                                                        $("#IDChucVu").append("<option value ='" + 0 + "'>" + "--Không có chức vụ--" + "</option>")
                                                    }
                                                });
                                            });
                                        </script>



                                    </div>
                                    <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;margin-right: 0.5%;border-radius: 10px;">
                                        <div style="padding:1% 0% 1% 3%;">
                                            <span style="color:black; font-size:14px;">
                                                Chức vụ <span style="color:red; font-size:14px;"> (*)</span>:
                                            </span>
                                        </div>
                                        <div style="padding-left: 3%;margin-right: 3%;">
                                            <select class="form-control marginTB5" name="IDChucVu" id="IDChucVu" disabled="disabled">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;margin-right: 0.5%;border-radius: 10px;">
                                        <div style="padding:1% 0% 1% 3%;">
                                            <span style="color:black; font-size:14px;">
                                                BP/NM <span style="color:red; font-size:14px;"> (*)</span>:
                                            </span>
                                        </div>
                                        <script>
                                            $(document).ready(function () {
                                                console.log("1")
                                                $.get("/BM01_GangLong/PhongBan", { IDTaiKhoan: $("#IDTaiKhoan").val() }, function (data) {
                                                    if (data[0] != null) {
                                                        $("#IDPhongBan").empty();
                                                        //$("#ID_TaiKhoan").append("<option value ='" + null + "'>" + "--Chọn hợp đồng--" + "</option>")
                                                        $.each(data, function (index, row) {
                                                            console.log(row.tenChucVu)
                                                            console.log(row.iD_TaiKhoan)
                                                            $("#IDPhongBan").append("<option value ='" + row.iD_PhongBan + "' selected>" + row.tenPhongBan + "</option>");
                                                        });
                                                    }
                                                    else {
                                                        $("#IDPhongBan").empty();
                                                        $("#IDPhongBan").append("<option value ='" + 0 + "'>" + "--Không có chức vụ--" + "</option>")
                                                    }
                                                });
                                            })
                                        </script>
                                        <script>
                                            $(document).ready(function () {
                                                console.log("1")
                                                $.get("/BM01_GangLong/Chucvu", { IDTaiKhoan: $("#IDTaiKhoan").val() }, function (data) {
                                                    if (data[0] != null) {
                                                        $("#IDChucvu").empty();
                                                        //$("#ID_TaiKhoan").append("<option value ='" + null + "'>" + "--Chọn hợp đồng--" + "</option>")
                                                        $.each(data, function (index, row) {
                                                            console.log(row.tenChucVu)
                                                            console.log(row.iD_TaiKhoan)
                                                            $("#IDChucvu").append("<option value ='" + row.iD_ChucVu + "' selected>" + row.tenChucVu + "</option>");
                                                        });
                                                    }
                                                    else {
                                                        $("#IDPhongBan").empty();
                                                        $("#IDPhongBan").append("<option value ='" + 0 + "'>" + "--Không có chức vụ--" + "</option>")
                                                    }
                                                });
                                            })
                                        </script>
                                        <script type="text/javascript">
                                            $("#IDTaiKhoan").change(function () {
                                                console.log("1")
                                                $.get("/BM01_GangLong/PhongBan", { IDTaiKhoan: $("#IDTaiKhoan").val() }, function (data) {
                                                    if (data[0] != null) {
                                                        $("#IDPhongBan").empty();
                                                        //$("#ID_TaiKhoan").append("<option value ='" + null + "'>" + "--Chọn hợp đồng--" + "</option>")
                                                        $.each(data, function (index, row) {
                                                            console.log(row.tenChucVu)
                                                            console.log(row.iD_TaiKhoan)
                                                            $("#IDPhongBan").append("<option value ='" + row.iD_PhongBan + "' selected>" + row.tenPhongBan + "</option>");
                                                        });
                                                    }
                                                    else {
                                                        $("#IDPhongBan").empty();
                                                        $("#IDPhongBan").append("<option value ='" + 0 + "'>" + "--Không có chức vụ--" + "</option>")
                                                    }
                                                });
                                            });
                                        </script>
                                        <div style="padding-left: 3%;">
                                            <select class="form-control marginTB5" name="IDPhongBan" id="IDPhongBan" disabled="disabled">
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (Ykien != null)
                        {
                            <div class="row" style="width:100%; padding-bottom:1%;">
                                <div class="col-lg-12" style="text-align: left;background-color: #f9f9f9;height: 110px;padding: 0.5% 1% 0% 1%;border-radius: 10px;margin-left: 8px;">
                                    <span style="color:black; font-size:14px;">
                                        Ý kiến yêu cầu hiệu chỉnh ( Nếu có ):
                                    </span>
                                    <input class='form-control' style="height:50px;margin-top: 0.5%;" cols='20' rows='1' value="@Ykien.NoiDungYeuCau"></input>
                                </div><!-- End Recent Sales -->
                                <script>


                                            let tableBody = document.querySelector("#dataTable tbody");
                                            document.querySelectorAll("#dataTable tbody tr").forEach(row => {
                                                row.style.display = "none"; // Ẩn dòng
                                                row.querySelectorAll("input, select").forEach(el => {
                                                    el.removeAttribute("required");
                                                    el.value = "";
                                                }); // Xóa required tránh lỗi khi submit
                                            });

                                            const locao = [
                                                { id: "1", text: "Lò cao 1" },
                                                { id: "2", text: "Lò cao 2" },
                                                { id: "3", text: "Lò cao 3" },
                                                { id: "4", text: "Lò cao 4" }
                                            ];

                                            jsonData.forEach((row, index) => {
                                                if (index === 0) return; // Bỏ qua tiêu đề (nếu có)

                                                let LocaoID = row[1];
                                                let timeValue = row[4];
                                                let formattedTime = excelTimeToHHMM(timeValue);

                                                // Lọc dữ liệu từ file Excel cho SoThung để chỉ giữ số
                                                let soThungValue = (row[3] || "").toString().replace(/[^0-9]/g, '');

                                                let newRow = `
                                                    <tr class="data-row">
                                                     <td><button class="btn btn-danger removeRow"><i class="bi bi-x-lg"></i></button></td>
                                                        <td>
                                                            <select name="chitietBBGNGangLong[${index}].ID_LoCao" class="form-control marginTB5 LoCao">
                                                                ${locao.map(option =>
                                                                    `<option value="${option.id}" ${option.id == LocaoID ? "selected" : ""}>${option.text}</option>`
                                                                ).join("")}
                                                            </select>
                                                        </td>
                                                        <td><input type="number" class="form-control" name="SoMeGang" value="${row[2] || ""}" onkeypress="return event.charCode >= 48 && event.charCode <= 57" /></td>
                                                        <td><input type="text" class="form-control number-only" name="SoThung" value="${soThungValue}" /></td>
                                                        <td><input type="time" class="form-control" name="chitietBBGNGangLong[${index}].ThoiGian" value="${formattedTime || ""}" /></td>
                                                        <td><input type="number" class="form-control" name="chitietBBGNGangLong[${index}].SoID" value="${row[5] || ""}" /></td>
                                                        <td><input type="number" class="form-control" name="chitietBBGNGangLong[${index}].KL_ThungGang" value="${row[6] || 0}" /></td>
                                                        <td><input type="number" class="form-control" name="chitietBBGNGangLong[${index}].KL_Thung" value="${row[7] || 0}" /></td>
                                                        <td><input type="number" class="form-control" name="chitietBBGNGangLong[${index}].KL_Gang" value="${row[8] || 0}" /></td>
                                                        <td><input type="text" class="form-control" name="chitietBBGNGangLong[${index}].GhiChu" value="${row[9] || ""}" /></td>

                                                    </tr>
                                                `;

                                                $("#dataTable tbody").append(newRow);

                                                // Kiểm tra dữ liệu từ file Excel cho SoThung

                                            });

                                            // Xử lý sự kiện xóa dòng
                                            document.querySelectorAll(".removeRow").forEach((btn) => {
                                                btn.addEventListener("click", function () {
                                                    this.parentElement.parentElement.remove();
                                                });
                                            });
                                        }


                                      reader.readAsArrayBuffer(file);
                                    });
                                        document.querySelectorAll('input[name="SoMeGang"]').forEach(function(input) {
                                        input.addEventListener('input', function() {
                                            const value = this.value;
                                            if (!/^\d*$/.test(value)) {
                                                alert('Chỉ được nhập số nguyên cho ô Số Mẻ Gang!');
                                                this.value = value.replace(/\D/g, ''); // Xóa các ký tự không phải số
                                            }
                                        });
                                    });
                                    // Chuyển đổi định dạng thời gian về HH:mm
                                    function excelTimeToHHMM(excelTime) {
                                        let totalMinutes = Math.round(excelTime * 24 * 60);
                                        let hours = Math.floor(totalMinutes / 60);
                                        let minutes = totalMinutes % 60;
                                        return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;
                                    }

                                    // Hàm formatTime không cần thiết nếu không dùng
                                    function formatTime(timeStr) {
                                        let date = new Date(timeStr);
                                        let hours = date.getHours().toString().padStart(2, '0');
                                        let minutes = date.getMinutes().toString().padStart(2, '0');
                                        return `${hours}:${minutes}`;
                                    }

                                </script>
                            </div>
                        }
                        <div class="card-body">
                            <div class="table-responsive" style="height: 400px;">

                                <table class="table table-bordered table-hover" id="dataTable" cellpadding="0">
                                    <thead>
                                        <tr style="font-size:14px;">
                                            <th width="30px" rowspan="3" style="vertical-align:middle;background-color: #f9f9f9">STT</th>
                                            <th class="text-center" width="400px" style="vertical-align:middle;background-color: #f9f9f9">Lò cao</th>
                                            <th class="text-center" width="200px" style="vertical-align:middle;background-color: #f9f9f9">Mẻ</th>
                                            <th class="text-center" width="300px" style="vertical-align:middle;background-color: #f9f9f9">Số Thùng</th>
                                            <th class="text-center" width="200px" style="vertical-align:middle;background-color: #f9f9f9">Thời gian</th>
                                            <th class="text-center" width="200px" style="vertical-align:middle;background-color: #f9f9f9">Số ID</th>
                                            <th width="150px" class="text-center" style="vertical-align:middle;background-color: #f9f9f9">KL thùng & Gang lỏng (kg)</th>
                                            <th width="150px" class="text-center" style="vertical-align:middle;background-color: #f9f9f9">KL thùng</th>
                                            <th width="150px" class="text-center" style="vertical-align:middle;background-color: #f9f9f9">KL gang lỏng</th>
                                            <th width="150px" class="text-center" style="vertical-align:middle;background-color: #f9f9f9">Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int i = 1;
                                            var Models = _context.Tbl_ChiTiet_BBGNGangLong.Where(x => x.ID_BBGL == ID).ToList();

                                        }
                                        @foreach (var item in Models)
                                        {
                                            <tr>

                                                @{
                                                    int count = item.ID_BBGL + 1;
                                                    var ID_VT = _context.Tbl_ChiTiet_BBGNGangLong.Where(x => x.IDCTGL == item.IDCTGL).FirstOrDefault();
                                                    //var ID_MaLo = _context.Tbl_MaLo.Where(x => x.TenMaLo.Contains(item.MaLo.Trim())).FirstOrDefault();
                                                    var ID_PB = _context.Tbl_PhongBan.Where(x => x.ID_PhongBan == ID_BBGN.ID_PhongBan_BG).FirstOrDefault();
                                                    // var List = _context.Tbl_ChiTiet_BBGNGangLong.ToList();
                                                    var IDBBGL = await (from a in _context.Tbl_ChiTiet_BBGNGangLong.Where(x => x.IDCTGL == item.IDCTGL)
                                                                        select new Tbl_ChiTiet_BBGNGangLong
                                        {
                                            IDCTGL = a.IDCTGL,
                                            ID_LoCao = a.ID_LoCao
                                        }).ToListAsync();
                                                    ViewBag.VTList = new SelectList(IDBBGL, "ID_BBGL", "Lò cao", ID_VT?.IDCTGL);
                                                }

                                                <td class="text-center" style="font-size:14px;vertical-align:middle;">
                                                    <button class="btn btn-danger removeRow">
                                                        <i class="bi bi-x-lg"></i>
                                                    </button>
                                                </td>

                                                <td class="text-center" style="font-size:14px;vertical-align:middle;">
                                                    <input class='form-control' cols='20' id='ID_LoCao_@count' name='ID_LoCao_@count' placeholder='Lò Cao' rows='1' value=" @ID_VT?.ID_LoCao" disabled="disabled"></input>

                                                </td>




                                                <td class="text-center" style="font-size:14px;vertical-align:middle;">

                                                    <input class="form-control marginTB5 " id='SoMeGang_@count' name='SoMeGang_@count' rows='1' placeholder='Mẻ' value=" @item.SoMeGang">

                                                    </input>
                                                </td>


                                                <td class="text-center" style="font-size:14px;vertical-align:middle;">
                                                    <input class='form-control' cols='20' id='SoThung_@count' name='SoThung_@count' rows='1' placeholder='Số thùng' value="@item.SoThung"></input>
                                                </td>


                                                <td class="text-center" style="font-size:14px;vertical-align:middle;">
                                                    <input class='form-control' cols='20' id='ThoiGian_@count' name='ThoiGian_@count' rows='1' placeholder='Thời gian' value="@item.ThoiGian"></input>
                                                </td>

                                                <td class="text-center" style="font-size:14px;vertical-align:middle;">

                                                    <input class='form-control' cols='20' id='SoID_@count' name='SoID_@count' placeholder='Số ID' rows='1' value="@item.SoID"></input>

                                                </td>

                                                <td class="text-center" style="font-size:14px;vertical-align:middle;">
                                                    <input class='form-control' cols='20' id='KL_ThungGang_@count' name='KL_ThungGang_@count' rows='1' placeholder='Khối Lượng Thùng Gang' value="@item.KL_ThungGang"></input>
                                                </td>

                                                <td class="text-center" style="font-size:14px;vertical-align:middle;">
                                                    <input class='form-control' cols='20' id='KL_Thung_@count' name='KL_Thung_@count' placeholder='Khối Lượng Thùng ' rows='1' value="@item.KL_Thung"></input>
                                                </td>
                                                <td class="text-center" style="font-size:14px;vertical-align:middle;">
                                                    <input class='form-control' cols='20' id='KL_Gang_@count' name='KL_Gang_@count' placeholder='Khối Lượng Gang' rows='1' value="@item.KL_Gang"></input>
                                                </td>

                                                <td class="text-center" style="font-size:14px;vertical-align:middle;">
                                                    <input class='form-control' cols='20' id='ghichu_@count' name='ghichu_@count' placeholder='Đơn vị tính' rows='1' value=" @item.GhiChu"></input>


                                                </td>
                                            </tr>
                                            i++;
                                        }



                                    </tbody>

                                </table>
                                <button type="button" id="addRow" class="btn btn-success">+</button>

                                <script type="text/template" id="rowTemplate">
                                     <tr class="data-row">
                                          <td >
                                                <button class="btn btn-danger removeRow"><i class="bi bi-x-lg"></i></button>
                                            </td>
                                                <td>
                                    @*<input type="number" name="chitietBBGNGangLong[0].ID_LoCao" class="form-control" required>*@
                                                    <select class="form-control marginTB5 LoCao" id="testrow" name="chitietBBGNGangLong[{index}].ID_LoCao" style="width: 100%">
                                                        <option value='null'>--Chọn Lò Cao--</option>
                                    @foreach (var item in ViewBag.LoCao)
                                    {
                                                                        <option value='@item.Value'>@item.Text</option>

                                    }
                                                    </select>
                                                </td>
                                                <td><input type="number" name="chitietBBGNGangLong[{index}].SoMeGang" class="form-control" required></td>
                                                <td><input type="number" name="chitietBBGNGangLong[{index}].SoThung" class="form-control" required></td>
                                                <td><input type="time" name="chitietBBGNGangLong[{index}].ThoiGian" class="form-control" required></td>
                                                <td>
                                                    <select class="form-control marginTB5 soID" name="chitietBBGNGangLong[{index}].SoID"  style="width: 100%">
                                                    </select>
                                                </td>
                                                <td><input type="number" name="chitietBBGNGangLong[{index}].KL_ThungGang" class="form-control" required></td>
                                                <td><input type="number" name="chitietBBGNGangLong[{index}].KL_Thung" class="form-control" required></td>
                                                <td><input type="number" name="chitietBBGNGangLong[{index}].KL_Gang" class="form-control" readonly="true" required></td>
                                                <td><input type="text" name="chitietBBGNGangLong[{index}].GhiChu" class="form-control" required></td>


                                     </tr>
                                </script>
                                <script>
                                    $(document).ready(function () {
                                        let rowIndex = 0; // Biến đếm index

                                        // Hàm khởi tạo Select2
                                        function initSelect2(selector) {
                                            $(selector).select2({
                                                tags: true,
                                                placeholder: "Nhập hoặc chọn...",
                                                allowClear: true
                                            });
                                        }

                                        // Thêm dòng mới
                                        $("#addRow").click(function () {
                                            console.log(rowIndex);
                                            let template = $("#rowTemplate").html(); // Lấy nội dung template
                                            let newRow = template.replace(/\{index\}/g, rowIndex); // Thay thế {index} bằng giá trị thực

                                            $("#dataTable tbody").append(newRow); // Thêm dòng mới vào bảng
                                            initSelect2("select[name='chitietBBGNGangLong[" + rowIndex + "].SoID']"); // Khởi tạo Select2 cho dòng mới

                                            rowIndex++; // Tăng index
                                        });

                                        // Xóa dòng
                                        $(document).on("click", ".removeRow", function () {
                                            $(this).closest("tr").remove();
                                            updateIndex(); // Cập nhật lại index sau khi xóa
                                        });
                                        // Hàm cập nhật index
                                        function updateIndex() {
                                            rowIndex = 0; // Reset index
                                            $("#dataTable tbody tr").each(function () {
                                                $(this).find("input, select").each(function () {
                                                    let nameAttr = $(this).attr("name");
                                                    if (nameAttr) {
                                                        nameAttr = nameAttr.replace(/\[\d+\]/, "[" + rowIndex + "]"); // Cập nhật index
                                                        $(this).attr("name", nameAttr);
                                                    }
                                                });
                                                rowIndex++; // Tăng index
                                            });
                                        }
                                        $(document).on("change", "#testrow", function () {
                                            let nameAttr = $(this).attr("name"); // Lấy giá trị name
                                            let indexx = nameAttr.match(/\[(\d+)\]/); // Tìm số bên trong dấu []
                                            $.get("/BM01_GangLong/GetSoMeGangBKMis", { ngay: $("#ID_Day").val(), ID_LoCao: $(this).val() }, function (data) {
                                                let dataList = [];
                                                if (data[0] != null) {
                                                    $("select[name='chitietBBGNGangLong[" + indexx[1] + "].SoID']").empty();
                                                    $("select[name='chitietBBGNGangLong[" + indexx[1] + "].SoID']").append("<option value ='" + null + "'>" + "--Điền số ID--" + "</option>")
                                                    $.each(data, function (index, row) {
                                                        //let newItem = { id: row.testPatternCode, text: row.testPatternCode };
                                                        //dataList.push(newItem); // Thêm vào
                                                        $("select[name='chitietBBGNGangLong[" + indexx[1] + "].SoID']").append("<option value ='" + row.testPatternCode + "'>" + row.testPatternCode + "</option>")
                                                    });
                                                }
                                                else {
                                                    $("select[name='chitietBBGNGangLong[" + indexx[1] + "].SoID']").empty();
                                                    //$("#IDPhongBan").append("<option value ='" + 0 + "'>" + "--Không có chức vụ--" + "</option>")
                                                }
                                            });
                                        });
                                    });
                                </script>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}


<script type="text/javascript">
    $("#IDTaiKhoan").chosen({
        width: "100%"
    });
    $("#IDTaiKhoan").chosen({
        width: "100%"
    });

</script>
@Html.AntiForgeryToken()

@section scripts {
    <script>
        document.querySelectorAll(".removeRow").forEach((btn) => {
           btn.addEventListener("click", function () {
            this.parentElement.parentElement.remove();
           });
         });

    </script>
@* <script>

              $(document).ready(function () {
                var i = 2;
                $("#add-vt").click(function () {
                    var renderList = $(`
            <tr>
                <td class='text-center delItem'>
                    <a class="btn btn-danger btn-sm" title="Xóa">
                        <i class="bi bi-trash"></i>
                    </a>
                </td>
                <td style=''>
                    <select class="form-control marginTB5 SelectVT" name="locao_${i}" id="locao_${i}">
                        <option value='null'>------ chọn lò cao ------</option>
                        @foreach (var item in ViewBag.LoCao)
                        {
                            <option value='@item.Value'>@item.Text</option>
                        }
                    </select>
                </td>


                </td>

                <td>
                    <input class='form-control' cols='20' id='somegang_${i}' type="number"  name='somegang_${i}' placeholder='mẻ' rows='1'></input>
                    <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                </td>
                <td>
                    <input class='form-control' cols='20' id='sothung_${i}' type="number" name='sothung_${i}' placeholder='sothung' rows='1'></input>
                    <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                </td>
                <td>
                    <input class='form-control' cols='20' id='thoigian_${i}' type="time"  name='thoigian_${i}' placeholder='Thời Gian' rows='1'></input>
                    <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                </td>
                <td>
                    <input class='form-control' cols='20' id='soid_${i}' name='soid_${i}' type="number" placeholder='SoID' rows='1'></input>
                    <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                </td>
                <td>
                    <input class='form-control' cols='20' id='KL_ThungGang_${i}' name='KL_ThungGang_${i}'type="number" placeholder='KL_ThungGang' rows='1' disabled="disabled"></input>
                    <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                </td>
                <td>
                    <input class='form-control' cols='20' id='KL_Thung_${i}' name='KL_Thung_${i}' type="number" placeholder='KL_Thung' rows='1' disabled="disabled"></input>
                    <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                </td>
                <td>
                    <input class='form-control' cols='20' id='KL_Gang_${i}' name='KL_Gang_${i}' type="number" placeholder='KL_Gang' rows='1' disabled="disabled"></input>
                    <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                </td>
                <td>
                    <input class='form-control' cols='20' id='ghichu_${i}' name='ghichu_${i}' placeholder='Ghi chú' rows='1'></input>
                    <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                </td>

            </tr>`);
                    i++;
                    $("#vt").before(renderList);
                    $(".SelectVT").chosen({
                        width: "100%"
                    });



                });
            });
        </script> *@

}