@using Data_Product.Models
@using System.Security.Claims;
@using Data_Product.Repositorys;
@using Microsoft.EntityFrameworkCore;
@inject Data_Product.Repositorys.DataContext _context
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@model Data_Product.Models.Tbl_BBGNGangLong


<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
@using (Html.BeginForm("TaoPhieu", "BM01_GangLong", FormMethod.Post, new { enctype = "multipart/form-data", id = "TaoPhieu" }))
{
    <div class="app-main__outer">
        <div class="app-main__inner" style="display:block;padding-bottom: 0px;">
            <div class="tab-content">
                <div class="row">
                    <div class="card">

                        <div class="row" style="width:100%">
                            <div style="display: flex;border-bottom: 0.8px solid #E8E8E8;position: fixed;background-color: #F9F9F9;">
                                <div class="col-8" style="text-align: left;padding: 2%  2%  2% 0%; ">
                                    <span class="text-muted small pt-2 ps-1">
                                        <b style="color:#06428b">
                                            BM.11/QT.05 (Biên bản giao nhận nguyên/nhiên/vật tư)
                                        </b>
                                    </span>
                                </div><!-- End Recent Sales -->
                                <div class="col-4 " style="padding: 2%  2%  2% 0%; ">
                                    <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index", "Menu")';">
                                        <i class="bi bi-x-lg"></i>
                                        <span class="small pt-2 ps-1" style="color: white;">
                                            Hủy bỏ
                                        </span>
                                    </button>
                                    <button type="submit" class="btn btn-warning" name="luu" id="luu" value="2">
                                        <i class="bi bi-floppy"></i>
                                        <span class="small pt-2 ps-1" style="color: white;">
                                            Lưu
                                        </span>
                                    </button>
                                    <button type="submit" class="btn btn-primary" name="xacnhan" id="xacnhan" value="1">
                                        <i class="bi bi-send"></i>
                                        <span class="small pt-2 ps-1" style="color: white;">
                                            Gửi phiếu
                                        </span>
                                    </button>
                                </div><!-- End Recent Sales -->

                            </div>
                        </div>
                        <div class="row" style="width:100%;padding-top:7.5%;">

                            <div class="col-lg-12" style="display:flex;padding-top:1%;">
                                <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9; border-radius: 10px;margin-right: 0.5%;">
                                    <div style="padding-left: 3%;padding-top:3%;">
                                        <span style="color:black; font-size:14px;">
                                            Ngày làm việc:
                                        </span>
                                    </div>
                                    <div style="padding-left: 3%;">
                                        @{
                                            DateTime NgayLamViec = DateTime.Now;
                                        }
                                        <span style="color:black; font-size:14px;">
                                            @Html.TextBox("ID_Day", null, new { @id = "ID_Day", @name = "ID_Day", @type = "date", @class = "form-control" })
                                            @*@NgayLamViec.ToString("dd/MM/yyyy")*@
                                        </span>

                                    </div>
                                    <script type="text/javascript">
                                        $("#ID_Day").change(function () {
                                            $("#CaKip").empty();
                                            //$("#IDCa").empty();
                                            $('#IDCa').prop('selectedIndex', 0);
                                            //$.get("/BM_11/Ngay", { Ngay: $("#ID_Day").val() }, function (data) {
                                            //    console.log(data)
                                            //    if (data[0] != null) {
                                            //        $("#IDCa").empty();
                                            //        $("#IDCa").append("<option value ='" + null + "'>" + "--Chọn Ca--" + "</option>")
                                            //        $.each(data, function (index, row) {
                                            //            $("#IDCa").append("<option value ='" + row.iD_Kip + "' >" + row.tenCa + "</option>");
                                            //        });
                                            //    }
                                            //    else {
                                            //        $("#IDCa").empty();
                                            //        $("#IDCa").append("<option value ='" + 0 + "'>" + "--Không có ca làm việc--" + "</option>")
                                            //    }
                                            //});
                                        });
                                    </script>

                                </div>

                                @* <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;border-radius: 10px;margin-right: 0.5%;">
                                    <div style="padding-left: 3%;padding-top:3%;">
                                        <span style="color:black; font-size:14px;">
                                           Ca làm việc:
                                        </span>
                                    </div>
                                    <div style="padding-left: 3%;">
                                        <span style="color:black; font-size:14px;">
                                            @Html.DropDownList("IDKip", null, "----- Chọn ca làm việc -----", new { id = "IDKip", name = "IDKip", @class = "marginTB5", })
                                        </span>

                                    </div>
                                    <script type="text/javascript">
                                        $("#IDKip").change(function () {
                                            console.log("1")
                                            $.get("/BM_11/Kip", { IDKip: $("#IDKip").val() }, function (data) {
                                                console.log(data)
                                                if (data[0] != null) {
                                                    $("#CaKip").empty();
                                                    //$("#ID_TaiKhoan").append("<option value ='" + null + "'>" + "--Chọn hợp đồng--" + "</option>")
                                                    $.each(data, function (index, row) {
                                                        $("#CaKip").append("<option value ='" + row.iD_Kip + "' selected>" + row.tenKip + "</option>");
                                                    });
                                                }
                                                else {
                                                    $("#CaKip").empty();
                                                    $("#CaKip").append("<option value ='" + 0 + "'>" + "--Không có kíp làm việc--" + "</option>")
                                                }
                                            });
                                        });
                                    </script>
                                </div>*@
                                <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;border-radius: 10px;margin-right: 0.5%;">
                                    <div style="padding-left: 3%;padding-top:2%;">
                                        <span style="color:black; font-size:14px;">
                                            Ca làm việc:
                                        </span>
                                    </div>
                                    <div style="padding:0% 3%;">
                                        <span style="color:black; font-size:14px;">
                                            <select class="form-control marginTB5 SelectCA" name="IDCa" id="IDCa">
                                                <option value='null'>-- Ca làm việc --</option>
                                                <option value='1'>1</option>
                                                <option value='2'>2</option>
                                                @* @foreach (var item in ViewBag.IDKip)
                                                {
                                                    <option value='@item.Value'>@item.Text</option>
                                                }*@
                                            </select>
                                        </span>
                                        @* <script type="text/javascript">
                                            $("#IDCa").change(function () {
                                                $("#CaKip").empty();
                                                $.get("/BM_11/Kip", { IDKip: $("#IDCa").val() }, function (data) {
                                                    console.log(data)
                                                    if (data[0] != null) {
                                                        $("#CaKip").empty();
                                                        //$("#ID_TaiKhoan").append("<option value ='" + null + "'>" + "--Chọn hợp đồng--" + "</option>")
                                                        $.each(data, function (index, row) {
                                                            $("#CaKip").append("<option value ='" + row.iD_Kip + "' selected>" + row.tenKip + "</option>");
                                                        });
                                                    }
                                                    else {
                                                        $("#CaKip").empty();
                                                        $("#CaKip").append("<option value ='" + 0 + "'>" + "--Không có kíp làm việc--" + "</option>")
                                                    }
                                                });
                                            });
                                        </script>*@
                                        <script type="text/javascript">
                                            $("#IDCa").change(function () {
                                                $("#CaKip").empty();
                                                $.get("/BM_11/KipN", { Ngay: $("#ID_Day").val(), Ca: $("#IDCa").val() }, function (data) {
                                                    console.log(data)
                                                    if (data[0] != null) {
                                                        $("#CaKip").empty();
                                                        //$("#ID_TaiKhoan").append("<option value ='" + null + "'>" + "--Chọn hợp đồng--" + "</option>")
                                                        $.each(data, function (index, row) {
                                                            $("#CaKip").append("<option value ='" + row.iD_Kip + "' selected>" + row.tenKip + "</option>");
                                                        });
                                                    }
                                                    else {
                                                        $("#CaKip").empty();
                                                        $("#CaKip").append("<option value ='" + 0 + "'>" + "--Không có kíp làm việc--" + "</option>")
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>

                                <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;margin-right: 1%;border-radius: 10px;">
                                    <div style="padding-left: 3%;padding-top:3%;">
                                        <span style="color:black; font-size:14px;">
                                            Kíp làm việc:
                                        </span>
                                    </div>
                                    <div style="padding-left: 3%;">
                                        <span style="color:black; font-size:14px;">
                                            <select class="form-control marginTB5" name="CaKip" id="CaKip" disabled="disabled">
                                            </select>
                                        </span>

                                    </div>

                                </div>
                            </div><!-- End Recent Sales -->
                            <div class="col-lg-12" style="display:flex;padding-bottom: 1%;padding-top:1%;">
                                @{
                                    var TenTaiKhoan = User.FindFirstValue(ClaimTypes.Name);
                                    var TaiKhoan = _context.Tbl_TaiKhoan.Where(x => x.TenTaiKhoan == TenTaiKhoan).FirstOrDefault();
                                    var PhongBan = _context.Tbl_PhongBan.Where(x => x.ID_PhongBan == TaiKhoan.ID_PhongBan).FirstOrDefault();
                                    var PhanXuong = _context.Tbl_Xuong.Where(x => x.ID_Xuong == TaiKhoan.ID_PhanXuong).FirstOrDefault();
                                    var ViTri = _context.Tbl_ViTri.Where(x => x.ID_ViTri == TaiKhoan.ID_ChucVu).FirstOrDefault();
                                }
                                <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9; border-radius: 10px;margin-right: 0.5%;">
                                    <div style="padding-left: 3%;padding-top:3%;">
                                        <span style="color:black; font-size:14px;">
                                            Đại diện bên giao:
                                        </span>
                                    </div>
                                    <div style="padding-left: 3%;">
                                        <span style="color:black; font-size:14px;">
                                            @TaiKhoan.TenTaiKhoan - @TaiKhoan.HoVaTen
                                        </span>
                                    </div>

                                </div>
                                <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;border-radius: 10px;margin-right: 0.5%;">
                                    <div style="padding-left: 3%;padding-top:3%;">
                                        <span style="color:black; font-size:14px;">
                                            Chức vụ:
                                        </span>
                                    </div>
                                    <div style="padding-left: 3%;">
                                        <span style="color:black; font-size:14px;">
                                            @ViTri.TenViTri
                                        </span>

                                    </div>
                                </div>
                                <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;margin-right: 1%;border-radius: 10px;">
                                    <div style="padding-left: 3%;padding-top:3%;">
                                        <span style="color:black; font-size:14px;">
                                            BP/NM:
                                        </span>
                                    </div>
                                    <div style="padding-left: 3%;">
                                        <span style="color:black; font-size:14px;">
                                            @PhongBan.TenPhongBan - @PhanXuong.TenXuong
                                        </span>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="row" style="width:100%">
                            <div class="col-lg-12" style="display:flex;padding-bottom: 1%;">
                                <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;border-radius: 10px;margin-right: 0.5%; ">
                                    <div style="padding:1% 0% 1% 3%;">
                                        <span style="color:black; font-size:14px;">
                                            Đại diện bên nhận <span style="color:red; font-size:14px;"> (*)</span>:
                                        </span>
                                    </div>
                                    <div style="padding-left: 3%;margin-right: 3%;">
                                        @Html.DropDownList("IDTaiKhoan", null, "----- Chọn đại diện bên nhận -----", new { id = "IDTaiKhoan", name = "IDTaiKhoan", @class = "marginTB5", })
                                    </div>
                                    <script type="text/javascript">
                                        $("#IDTaiKhoan").change(function () {
                                            $.get("/BM_11/ChucVu", { IDTaiKhoan: $("#IDTaiKhoan").val() }, function (data) {

                                                if (data[0] != null) {
                                                    $("#IDChucVu").empty();
                                                    //$("#ID_TaiKhoan").append("<option value ='" + null + "'>" + "--Chọn hợp đồng--" + "</option>")
                                                    $.each(data, function (index, row) {
                                                        $("#IDChucVu").append("<option value ='" + row.iD_ChucVu + "' selected>" + row.tenChucVu + "</option>");
                                                    });
                                                }
                                                else {
                                                    $("#IDChucVu").empty();
                                                    $("#IDChucVu").append("<option value ='" + 0 + "'>" + "--Không có chức vụ--" + "</option>")
                                                }
                                            });
                                        });
                                    </script>
                                    <script type="text/javascript">
                                        $("#IDTaiKhoan").change(function () {
                                            $.get("/BM_11/NguyenLieu", { IDTaiKhoan: $("#IDTaiKhoan").val() }, function (data) {
                                                if (data[0] != null) {

                                                    $("#IDVatTu").empty();
                                                    //$("#IDVatTu").append("<option value ='" + null + "'>" + "--Chọn nguyên/nhiên/vật tư--" + "</option>")
                                                    $.each(data, function (index, row) {
                                                        $("#IDVatTu").append("<option value ='" + row.iD_VatTu + "' selected>" + row.tenVatTu + "</option>");
                                                    });
                                                }
                                                else {
                                                    $("#IDVatTu").empty();
                                                    $("#IDVatTu").append("<option value ='" + 0 + "'>" + "--Không có nguyên/nhiên/vật tư--" + "</option>")
                                                }
                                            });
                                        });
                                    </script>


                                </div>
                                <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;margin-right: 0.5%;border-radius: 10px;">
                                    <div style="padding:1% 0% 1% 3%;">
                                        <span style="color:black; font-size:14px;">
                                            Chức vụ <span style="color:red; font-size:14px;"> (*)</span>:
                                        </span>
                                    </div>
                                    <div style="padding-left: 3%;margin-right: 3%;">
                                        <select class="form-control marginTB5" name="IDChucVu" id="IDChucVu" disabled="disabled">
                                        </select>
                                    </div>

                                </div>

                                <div class="col-xxl-4 col-md-6" style="height: 80px; background-color: #f9f9f9;margin-right: 0.5%;border-radius: 10px;">
                                    <div style="padding:1% 0% 1% 3%;">
                                        <span style="color:black; font-size:14px;">
                                            BP/NM <span style="color:red; font-size:14px;"> (*)</span>:
                                        </span>
                                    </div>
                                    <script type="text/javascript">
                                        $("#IDTaiKhoan").change(function () {
                                            $.get("/BM_11/PhongBan", { IDTaiKhoan: $("#IDTaiKhoan").val() }, function (data) {
                                                if (data[0] != null) {
                                                    $("#IDPhongBan").empty();
                                                    //$("#ID_TaiKhoan").append("<option value ='" + null + "'>" + "--Chọn hợp đồng--" + "</option>")
                                                    $.each(data, function (index, row) {
                                                        console.log(row.tenChucVu)
                                                        console.log(row.iD_TaiKhoan)
                                                        $("#IDPhongBan").append("<option value ='" + row.iD_PhongBan + "' selected>" + row.tenPhongBan + "</option>");
                                                    });
                                                }
                                                else {
                                                    $("#IDPhongBan").empty();
                                                    $("#IDPhongBan").append("<option value ='" + 0 + "'>" + "--Không có chức vụ--" + "</option>")
                                                }
                                            });
                                        });
                                    </script>
                                    <div style="padding-left: 3%;">
                                        <select class="form-control marginTB5" name="IDPhongBan" id="IDPhongBan" disabled="disabled">
                                        </select>

                                    </div>
                                </div>
                            </div>
                        </div>
                        @*
                        <div class="row" style="width:100%">
                            <div class="col-lg-12" style="text-align: left;background-color: #f9f9f9;height: 90px;padding: 0.5% 1% 0% 1%;border-radius: 10px;margin-left: 8px;">
                                <div style="padding-bottom: 0.5%;">
                                    <span style="color:black; font-size:14px;">
                                       CBNV nhận thông tin phiếu:
                                    </span>
                                </div>
                                <div>
                                    <span style="color:black; font-size:14px;">
                                        @Html.DropDownList("IDNhanVien", null, "", new { id = "multiSelect", @class = "form-control", @style = "width:100%", multiple = "multiple" })
                                    </span>

                                </div>

                            </div><!-- End Recent Sales -->
                        </div>*@

                        <div class="row" style="width:100%; padding-bottom:1%;">
                            <div class="col-lg-12" style="text-align: left;background-color: #f9f9f9;height: 110px;padding: 0.5% 1% 0% 1%;border-radius: 10px;margin-left: 8px;">
                                <span style="color:black; font-size:14px;">
                                    Nội dung trích yếu:
                                </span>
                                <input class='form-control' id='NoiDungTrichYeu' name='NoiDungTrichYeu' style="height:50px;margin-top: 0.5%;" cols='20' rows='1' value=""></input>
                            </div><!-- End Recent Sales -->
                        </div>
                        <div class="row" style="width:100%; padding-bottom:1%;">
                            <div class="col-lg-12" style="">
                                <span style="color:black; font-size:14px;">
                                    File đính kèm (Nếu có):
                                </span>
                                <input class='form-control' id='FileDinhKem' name='FileDinhKem' type="file"></input>
                            </div><!-- End Recent Sales -->
                        </div>

                        <div class="card-body" style="padding-top: 1%;">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="mb-1 font-weight-bold text-left">Tải lên dữ liệu</label>
                                    <div class="row col-md-12">
                                        <input type="file" id="fileInput" accept=".xlsx, .xls" />
                                    </div>
                                    <div id="tableContainer" class="col-md-12">
                                        <table id="excelTable" border="1"></table>
                                    </div>
                                </div>
                                <script>
                                    document.getElementById("fileInput").addEventListener("change", function (event) {
                                        let file = event.target.files[0]; // Lấy file đã chọn
                                        let reader = new FileReader();

                                        reader.onload = function (e) {
                                            let data = new Uint8Array(e.target.result);
                                            let workbook = XLSX.read(data, { type: "array" });
                                            let sheet = workbook.Sheets[workbook.SheetNames[0]]; // Lấy sheet đầu tiên
                                            let jsonData = XLSX.utils.sheet_to_json(sheet, { header: 1 }); // Chuyển thành JSON

                                            let tableBody = document.querySelector("#dataTable tbody");
                                            document.querySelectorAll("#dataTable tbody tr").forEach(row => {
                                                row.style.display = "none"; // Ẩn dòng
                                                row.querySelectorAll("input, select").forEach(el => {
                                                    el.removeAttribute("required");
                                                    el.value = "";
                                                }); // Xóa required tránh lỗi khi submit
                                            });

                                            const locao = [
                                                { id: "1", text: "Lò cao 1" },
                                                { id: "2", text: "Lò cao 2" },
                                                { id: "3", text: "Lò cao 3" },
                                                { id: "4", text: "Lò cao 4" }
                                            ];

                                            jsonData.forEach((row, index) => {
                                                if (index === 0) return; // Bỏ qua tiêu đề (nếu có)

                                                let LocaoID = row[1];
                                                let timeValue = row[4];
                                                let formattedTime = excelTimeToHHMM(timeValue);

                                                // Lọc dữ liệu từ file Excel cho SoThung để chỉ giữ số
                                                let soThungValue = (row[3] || "").toString().replace(/[^0-9]/g, '');

                                                let newRow = `
                                                    <tr class="data-row">
                                                        <td>
                                                            <select name="chitietBBGNGangLong[${index}].ID_LoCao" class="form-control marginTB5 LoCao">
                                                                ${locao.map(option =>
                                                                    `<option value="${option.id}" ${option.id == LocaoID ? "selected" : ""}>${option.text}</option>`
                                                                ).join("")}
                                                            </select>
                                                        </td>
                                                        <td><input type="number" class="form-control" name="SoMeGang" value="${row[2] || ""}" onkeypress="return event.charCode >= 48 && event.charCode <= 57" /></td>
                                                        <td><input type="text" class="form-control number-only" name="SoThung" value="${soThungValue}" /></td>
                                                        <td><input type="time" class="form-control" name="chitietBBGNGangLong[${index}].ThoiGian" value="${formattedTime || ""}" /></td>
                                                        <td><input type="number" class="form-control" name="chitietBBGNGangLong[${index}].SoID" value="${row[5] || ""}" /></td>
                                                        <td><input type="number" class="form-control" name="chitietBBGNGangLong[${index}].KL_ThungGang" value="${row[6] || 0}" /></td>
                                                        <td><input type="number" class="form-control" name="chitietBBGNGangLong[${index}].KL_Thung" value="${row[7] || 0}" /></td>
                                                        <td><input type="number" class="form-control" name="chitietBBGNGangLong[${index}].KL_Gang" value="${row[8] || 0}" /></td>
                                                        <td><input type="text" class="form-control" name="chitietBBGNGangLong[${index}].GhiChu" value="${row[9] || ""}" /></td>
                                                        <td><button class="btn btn-danger removeRow"><i class="bi bi-x-lg"></i></button></td>
                                                    </tr>
                                                `;

                                                $("#dataTable tbody").append(newRow);

                                                // Kiểm tra dữ liệu từ file Excel cho SoThung

                                            });

                                            // Xử lý sự kiện xóa dòng
                                            document.querySelectorAll(".removeRow").forEach((btn) => {
                                                btn.addEventListener("click", function () {
                                                    this.parentElement.parentElement.remove();
                                                });
                                            });
                                        }


                                      reader.readAsArrayBuffer(file);
                                    });
                                        document.querySelectorAll('input[name="SoMeGang"]').forEach(function(input) {
                                        input.addEventListener('input', function() {
                                            const value = this.value;
                                            if (!/^\d*$/.test(value)) {
                                                alert('Chỉ được nhập số nguyên cho ô Số Mẻ Gang!');
                                                this.value = value.replace(/\D/g, ''); // Xóa các ký tự không phải số
                                            }
                                        });
                                    });
                                    // Chuyển đổi định dạng thời gian về HH:mm
                                    function excelTimeToHHMM(excelTime) {
                                        let totalMinutes = Math.round(excelTime * 24 * 60);
                                        let hours = Math.floor(totalMinutes / 60);
                                        let minutes = totalMinutes % 60;
                                        return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;
                                    }

                                    // Hàm formatTime không cần thiết nếu không dùng
                                    function formatTime(timeStr) {
                                        let date = new Date(timeStr);
                                        let hours = date.getHours().toString().padStart(2, '0');
                                        let minutes = date.getMinutes().toString().padStart(2, '0');
                                        return `${hours}:${minutes}`;
                                    }

                                </script>

                            </div>

                            <div class="table-responsive" style="height: 400px;">
                                <table class="table table-bordered table-hover" id="dataTable" cellpadding="0">
                                    <div id="warning-message" style="display: none; color: white; background-color: red; padding: 10px; position: fixed; top: 20px; left: 50%; transform: translateX(-50%); z-index: 1000; border-radius: 5px;"></div>
                                    <thead>
                                        <tr style="font-size:14px;">
                                            <th class="text-center" width="400px" style="vertical-align:middle;background-color: #f9f9f9">Lò cao</th>
                                            <th class="text-center" width="200px" style="vertical-align:middle;background-color: #f9f9f9">Mẻ</th>
                                            <th class="text-center" width="300px" style="vertical-align:middle;background-color: #f9f9f9">Số Thùng</th>
                                            <th class="text-center" width="200px" style="vertical-align:middle;background-color: #f9f9f9">Thời gian</th>
                                            <th class="text-center" width="200px" style="vertical-align:middle;background-color: #f9f9f9">Số ID</th>
                                            <th width="150px" class="text-center" style="vertical-align:middle;background-color: #f9f9f9">KL thùng & Gang lỏng (kg)</th>
                                            <th width="150px" class="text-center" style="vertical-align:middle;background-color: #f9f9f9">KL thùng</th>
                                            <th width="150px" class="text-center" style="vertical-align:middle;background-color: #f9f9f9">KL gang lỏng</th>
                                            <th width="150px" class="text-center" style="vertical-align:middle;background-color: #f9f9f9">Ghi chú</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <button type="button" id="addRow" class="btn btn-success">+</button>
                            </div>
                            <!-- Template ẩn chứa HTML cho dòng mới -->
                            <script type="text/template" id="rowTemplate">
                                 <tr class="data-row">
                                            <td>
                                @*<input type="number" name="chitietBBGNGangLong[0].ID_LoCao" class="form-control" required>*@
                                                <select class="form-control marginTB5 LoCao" name="chitietBBGNGangLong[{index}].ID_LoCao" style="width: 100%">
                                                    <option value='null'>--Chọn Lò Cao--</option>
                                @foreach (var item in ViewBag.LoCao)
                                {
                                                                <option value='@item.Value'>@item.Text</option>

                                }
                                                </select>
                                            </td>
                                            <td><input type="number" name="chitietBBGNGangLong[{index}].SoMeGang" class="form-control" required></td>
                                            <td><input type="number" name="chitietBBGNGangLong[{index}].SoThung" class="form-control" required></td>
                                            <td><input type="time" name="chitietBBGNGangLong[{index}].ThoiGian" class="form-control" required></td>
                                            <td>
                                                <select class="form-control marginTB5 soID" name="chitietBBGNGangLong[{index}].SoID"  style="width: 100%">
                                                </select>
                                            </td>
                                            <td><input type="number" name="chitietBBGNGangLong[{index}].KL_ThungGang" class="form-control" required></td>
                                            <td><input type="number" name="chitietBBGNGangLong[{index}].KL_Thung" class="form-control" required></td>
                                            <td><input type="number" name="chitietBBGNGangLong[{index}].KL_Gang" class="form-control" readonly="true" required></td>
                                            <td><input type="text" name="chitietBBGNGangLong[{index}].GhiChu" class="form-control" required></td>
                                            <td >
                                                <button class="btn btn-danger removeRow"><i class="bi bi-x-lg"></i></button>
                                            </td>
                                 </tr>
                            </script>
                            <script>
                                $(document).ready(function () {
                                    let rowIndex = 0; // Biến đếm index

                                    // Hàm khởi tạo Select2
                                    function initSelect2(selector) {
                                        $(selector).select2({
                                            tags: true,
                                            placeholder: "Nhập hoặc chọn...",
                                            allowClear: true
                                        });
                                    }

                                    // Thêm dòng mới
                                    $("#addRow").click(function () {
                                        console.log(rowIndex);
                                        let template = $("#rowTemplate").html(); // Lấy nội dung template
                                        let newRow = template.replace(/\{index\}/g, rowIndex); // Thay thế {index} bằng giá trị thực

                                        $("#dataTable tbody").append(newRow); // Thêm dòng mới vào bảng
                                        initSelect2("select[name='chitietBBGNGangLong[" + rowIndex + "].SoID']"); // Khởi tạo Select2 cho dòng mới

                                        rowIndex++; // Tăng index
                                    });

                                    // Xóa dòng
                                    $(document).on("click", ".removeRow", function () {
                                        $(this).closest("tr").remove();
                                        updateIndex(); // Cập nhật lại index sau khi xóa
                                    });
                                    // Hàm cập nhật index
                                    function updateIndex() {
                                        rowIndex = 0; // Reset index
                                        $("#dataTable tbody tr").each(function () {
                                            $(this).find("input, select").each(function () {
                                                let nameAttr = $(this).attr("name");
                                                if (nameAttr) {
                                                    nameAttr = nameAttr.replace(/\[\d+\]/, "[" + rowIndex + "]"); // Cập nhật index
                                                    $(this).attr("name", nameAttr);
                                                }
                                            });
                                            rowIndex++; // Tăng index
                                        });
                                    }
                                    $(document).on("change", ".LoCao", function () {
                                        let nameAttr = $(this).attr("name"); // Lấy giá trị name
                                        let indexx = nameAttr.match(/\[(\d+)\]/); // Tìm số bên trong dấu []
                                        $.get("/BM01_GangLong/GetSoMeGangBKMis", { ngay: $("#ID_Day").val(), ID_LoCao: $(this).val() }, function (data) {
                                            let dataList = [];
                                            if (data[0] != null) {
                                                $("select[name='chitietBBGNGangLong[" + indexx[1] + "].SoID']").empty();
                                                $("select[name='chitietBBGNGangLong[" + indexx[1] + "].SoID']").append("<option value ='" + null + "'>" + "--Điền số ID--" + "</option>")
                                                $.each(data, function (index, row) {
                                                    //let newItem = { id: row.testPatternCode, text: row.testPatternCode };
                                                    //dataList.push(newItem); // Thêm vào
                                                    $("select[name='chitietBBGNGangLong[" + indexx[1] + "].SoID']").append("<option value ='" + row.testPatternCode + "'>" + row.testPatternCode + "</option>")
                                                });
                                            }
                                            else {
                                                $("select[name='chitietBBGNGangLong[" + indexx[1] + "].SoID']").empty();
                                                //$("#IDPhongBan").append("<option value ='" + 0 + "'>" + "--Không có chức vụ--" + "</option>")
                                            }
                                        });
                                    });
                                });
                            </script>
                            @* <script type="text/javascript">
                                $(".data-row:first").find("select[name='chitietBBGNGangLong[0].SoID']").select2({
                                    tags: true, // Cho phép nhập thủ công
                                    placeholder: "Nhập hoặc chọn...",
                                    allowClear: true
                                });
                            </script>*@

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('#TaoPhieu').on('submit', function (e) {
    @* e.preventDefault(); // Ngăn gửi form mặc định*@
            let isValid = true;
            let selectedValueCaKip = $('#CaKip').val();
            let BenNhan = $('#IDTaiKhoan').val();
            // Kiểm tra nếu chưa chọn giá trị hợp lệ
            if (selectedValueCaKip == null) {
                isValid = false;
                alert('Vui lòng chọn Ca Kíp!');
                return false; // Ngăn form submit
            }

            if (!BenNhan) {
                isValid = false;
                alert('Vui lòng chọn Nhân viên bên nhận!');
                return false; // Ngăn form submit
            }

            const table = document.getElementById('table');

            // Nếu tất cả đều hợp lệ, thực hiện hành động
            if (isValid) {
    @*alert('Dữ liệu hợp lệ. Tiến hành gửi form!');*@
                // Thực hiện gửi form nếu cần
                return true;
            }
        });
    });

</script>


<script type="text/javascript">
    @*    $("#IDTaiKhoan").select2();*@
        $("#IDTaiKhoan").chosen({
            width: "100%"
        });
    @* $("#IDTaiKhoan").chosen({
        width: "100%"
    });
    $(document).ready(function () {
        $('#multiSelect').chosen({
            width: '100%'
        });
    });*@

</script>


<script type="text/javascript">
    const dateInput = document.getElementById("ID_Day");
    const today = new Date();
    const yesterday = new Date();
    yesterday.setDate(today.getDate() - 1);

    // Định dạng ngày thành yyyy-mm-dd để dùng với input date
    function formatDate(date) {
        return date.toISOString().split("T")[0];
    }

    dateInput.min = formatDate(yesterday);
    dateInput.max = formatDate(today);
    // Đặt giá trị mặc định là ngày hiện tại
    dateInput.value = formatDate(new Date());

    // Ngăn người dùng nhập từ bàn phím
    dateInput.addEventListener("keydown", function (event) {
        event.preventDefault();
    });

    $(document).ready(function () {
            var i = 2;
            $("#add-vt").click(function () {
                var renderList = $(`<tr>
                                                                         <td class='text-center delItem' >
                                                                            <a class="btn btn-danger btn-sm" title="Xóa">
                                                                                <i class="bi bi-trash"></i>
                                                                            </a>
                                                                         </td>
                                                                        <td >
                                                                                 <input  class='form-control' cols='20' id='locao_${i}' name='locao_${i}' type="number" placeholder='Lò cao' rows='1'></input>
                                                                                  <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                        </td>
                                                                        <td >
                                                                                 <input  class='form-control' cols='20' id='me_${i}' name='me_${i}' type="number"  placeholder='Mẻ' rows='1'></input>
                                                                            <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                        </td>
                                                                         <td >
                                                                                 <input  class='form-control' cols='20' id='sothung_${i}' name='sothung_${i}' type="number"  placeholder='Số Thùng' rows='1'></input>
                                                                            <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                        </td>
                                                                             <td >
                                                                                 <input  class='form-control' cols='20' id='thoigian_${i}' name='thoigian_${i}' type="time" placeholder='thời gian' rows='1'></input>
                                                                            <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                        </td>
                                                                         <td >
                                                                             <input class='form-control' cols='20' id='soid_${i}' name='đoi_${i}' type="number"  placeholder='Số ID' rows='1'></input>
                                                                            <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                        </td>
                                                                         <td >
                                                                                        <input class='form-control' cols='20' id='KLTGL_${i}' name='KLTGL_${i}' placeholder='KL thùng gang lỏng' rows='1' disabled="disabled"></input>
                                                                            <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                        </td>
                                                                        <td >
                                                                                    <input class='form-control' cols='20' id='khoiluongthung_${i}' name='khoiluongthung_${i}' placeholder='Khối lượng thùng' rows='1' disabled="disabled"></input>
                                                                            <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                        </td>
                                                                        <td >
                                                                                    <input class='form-control' cols='20' id='khoiluonggang_${i}' name='khoiluonggang_${i}' placeholder='KL Gang' rows='1' disabled="disabled"></input>
                                                                            <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                        </td>
                                                                        <td >
                                                                               <input class='form-control' cols='20' id='ghichu_${i}' name='ghichu_${i}' placeholder='Ghi chú' rows='1'></input>
                                                                            <span id="Errorfullname_${i}" style="color: red; text-transform: none; font-weight: normal "></span>
                                                                        </td>

                                                                    </tr>`);
                i++;
                $("#vt").before(renderList);
    @* $(".SelectVT").chosen({
                    width: "100%"
                });*@
                $(".SelectQT").chosen({
                    width: "100%"
                });
    @* $(".malo").chosen({
                    width: "100%"
                });*@
                $('.SelectVT').select2();
                $('.malo').select2();
            });
     });
    $("#table").on("click", ".delItem", function () {
        $(this).closest("tr").remove();
    });

    $("#table").on("change", ".SelectVT", function () {
        var id = $(this).attr('id').split('_')[1];
        if (id != "null") {
            $.get("/BM_11/DonViTinh", { IDVatTu: $(this).val() }, function (data1) {
                console.log(data1)
                if (data1[0] != null) {
                    $("#NoiDung_" + id).empty();
                    $.each(data1, function (index, row) {
                        $("#NoiDung_" + id).append("<option value ='" + row.iD_VatTu + "' selected>" + row.donViTinh + "</option>")
                    });
                }
                else {
                    $("#NoiDung_" + id).empty();
                }
            });
            $.get("/BM_11/MaLo", { IDVatTu: $(this).val() }, function (data1) {
                $("#lo_" + id).empty();
                if (data1[0] != null ) {
                    $("#lo_" + id).empty();
                    $("#lo_" + id).append("<option value=''>--Không lô--</option>")
                    $.each(data1, function (index, row) {
                        $("#lo_" + id).append("<option value ='" + row.tenMaLo + "' >" + row.tenMaLo + "</option>")
                    });
                }
                else {
                    $("#lo_" + id).empty();
                }
            });
    @* setTimeout(() => {
                $("#lo_" + id).trigger("chosen:updated");
            }, 100);*@

            $("#NoiDung_" + id).trigger("chosen:updated");
        }
        else {
            $("#NoiDung_" + id).empty();
            $("#lo_" + id).empty();
        }

    });

</script>
