@using Data_Product.Models
@using System.Security.Claims;
@using Data_Product.Repositorys;
@using Microsoft.EntityFrameworkCore;
@inject Data_Product.Repositorys.DataContext _context
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
@using (Html.BeginForm("TaoPhieu", "BM16_GangThoi", FormMethod.Post, new { enctype = "multipart/form-data", id = "TaoPhieu" }))
{
    <div class="app-main__outer">
        <div class="app-main__inner" style="display:block;padding-bottom: 0px;">
            <div class="tab-content">
                <div class="row">
                    <div class="card">
                        <div class="row" style="width:100%">
                            <div style="display: flex; border-bottom: 0.8px solid #E8E8E8; position: fixed; background-color: #F9F9F9; width: 100%;">
                                <div style="flex: 2; text-align: left; padding: 2% 2% 2% 0%;">
                                    <span class="text-muted small pt-2 ps-1">
                                        <b style="color:#06428b">
                                            BM.11/QT.05 (Biên bản giao nhận nguyên/nhiên/vật tư )
                                        </b>
                                    </span>
                                </div>
                                <div class="col-4 " style="padding: 2%  2%  2% 0%; ">
                                    <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index", "Menu")';">
                                        <i class="bi bi-x-lg"></i>
                                        <span class="small pt-2 ps-1" style="color: white;">
                                            Hủy bỏ
                                        </span>
                                    </button>
                                    <button type="submit" class="btn btn-primary" name="xacnhan" id="xacnhan" value="1">
                                        <i class="bi bi-send"></i>
                                        <span class="small pt-2 ps-1" style="color: white;">
                                            Gửi phiếu
                                        </span>
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="row" style="width:100%; padding-top:7.5%;">
                            <div class="col-lg-12">
                                <div class="row g-4">
                                    <div class="col-xxl-3 col-md-6">
                                        <div class="p-3 bg-light rounded">
                                            <span class="text-dark">Ngày làm việc:</span>
                                            <input type="date" id="ID_Day" name="ID_Day"
                                                   class="form-control mt-2"
                                                   min="@ViewBag.MinDate"
                                                   max="@ViewBag.MaxDate"
                                                   value="@ViewBag.DefaultDate"
                                                   onkeydown="return false;" />
                                        </div>
                                    </div>

                                    <div class="col-xxl-3 col-md-6">
                                        <div class="p-3 bg-light rounded">
                                            <span class="text-dark">ID Lò cao:</span>
                                            <select class="form-control mt-2" name="LoCao" id="IDLoCao">
                                                <option value='null'>-- ID Lò cao --</option>
                                                <option value='1'>Lò cao 1</option>
                                                <option value='2'>Lò cao 2</option>
                                                <option value='3'>Lò cao 3</option>
                                                <option value='4'>Lò cao 4</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-xxl-3 col-md-6">
                                        <div class="p-3 bg-light rounded">
                                            <span class="text-dark">Ca làm việc:</span>
                                            <select class="form-control mt-2 SelectCA" name="IDCa" id="IDCa">
                                                <option value='null'>-- Ca làm việc --</option>
                                                <option value='1'>1</option>
                                                <option value='2'>2</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-xxl-3 col-md-6">
                                        <div class="p-3 bg-light rounded">
                                            <span class="text-dark">Kíp làm việc:</span>
                                            <select class="form-control mt-2" name="CaKip" id="CaKip" disabled>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="col-lg-12">
                                @{
                                    var TenTaiKhoan = User.FindFirstValue(ClaimTypes.Name);
                                    var TaiKhoan = _context.Tbl_TaiKhoan.Where(x => x.TenTaiKhoan == TenTaiKhoan).FirstOrDefault();
                                    var PhongBan = _context.Tbl_PhongBan.Where(x => x.ID_PhongBan == TaiKhoan.ID_PhongBan).FirstOrDefault();
                                    var PhanXuong = _context.Tbl_Xuong.Where(x => x.ID_Xuong == TaiKhoan.ID_PhanXuong).FirstOrDefault();
                                    var ViTri = _context.Tbl_ViTri.Where(x => x.ID_ViTri == TaiKhoan.ID_ChucVu).FirstOrDefault();
                                }
                                <div class="row g-3 mt-3">
                                    <div class="col-xxl-4 col-md-6">
                                        <div class="p-3 bg-light rounded">
                                            <span class="text-dark">Đại diện bên giao:</span>
                                            <div class="mt-2">@TaiKhoan.TenTaiKhoan - @TaiKhoan.HoVaTen</div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-4 col-md-6">
                                        <div class="p-3 bg-light rounded">
                                            <span class="text-dark">Chức vụ:</span>
                                            <div class="mt-2">@ViTri.TenViTri</div>
                                        </div>
                                    </div>

                                    <div class="col-xxl-4 col-md-6">
                                        <div class="p-3 bg-light rounded">
                                            <span class="text-dark">BP/NM:</span>
                                            <div class="mt-2">@PhongBan.TenPhongBan - @PhanXuong.TenXuong</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="width:100%;">
                            <div class="col-lg-12">
                                <div class="row g-3">
                                    <div class="col-xxl-4 col-md-6">
                                        <div class="p-3 bg-light rounded">
                                            <span class="text-dark">Đại diện bên nhận <span class="text-danger"> (*)</span>:</span>
                                            @Html.DropDownList("IDTaiKhoan", ViewBag.DaiDienBenNhan as SelectList, "----- Chọn đại diện bên nhận -----", new { id = "IDTaiKhoan", name = "IDTaiKhoan", @class = "form-control mt-2" })
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-6">
                                        <div class="p-3 bg-light rounded">
                                            <span class="text-dark">Chức vụ <span class="text-danger"> (*)</span>:</span>
                                            <select class="form-control mt-2" name="IDChucVu" id="IDChucVu" disabled>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-6">
                                        <div class="p-3 bg-light rounded">
                                            <span class="text-dark">BP/NM <span class="text-danger"> (*)</span>:</span>
                                            <select class="form-control mt-2" name="IDPhongBan" id="IDPhongBan" disabled>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="width:100%; padding-bottom:1%;">
                            <div class="col-lg-12">
                                <div class="p-3 bg-light rounded">
                                    <span class="text-dark">Nội dung trích yếu:</span>
                                    <textarea class="form-control mt-2" id="NoiDungTrichYeu" name="NoiDungTrichYeu" rows="2"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="card-body" style="padding-top: 1%;">
                            <div class="table-responsive" style="height: 400px;">
                                <table class="table table-bordered table-hover" id="dataTable" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">STT</th>
                                            <th rowspan="2">Số mẻ</th>
                                            <th rowspan="2">Thùng số</th>
                                            <th rowspan="2">Khối lượng xe goong</th>
                                            <th rowspan="2">Khối lượng thùng</th>
                                            <th rowspan="2">KL thùng & gang lỏng (tấn)</th>
                                            <th rowspan="2">KL gang lỏng cân ray (tấn)</th>
                                            <th colspan="2">Vận chuyển đến</th>
                                            <th rowspan="2">Phân loại</th>
                                            <th rowspan="2">Ghi chú <br> (Thùng tồn trong kíp tại NM.LT)</th>
                                            <th rowspan="2">KL thùng & xe goong (tấn)</th>
                                            <th rowspan="2">KL thùng, xe goong & gang lỏng (tấn)</th>
                                            <th rowspan="2">Mẻ gang</th>
                                        </tr>
                                        <tr>
                                            <th>NM.HRC1</th>
                                            <th>NM.HRC2</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr id="addRowBtnContainer">
                                            <th colspan="18" class="font-weight-bold font-size-lg">
                                                <button id="addRowBtn" type="button" class="btn btn-light border border-white">
                                                    <i class="bi bi-plus-lg"></i>
                                                </button>
                                            </th>
                                            
                                        </tr>
                                    </tbody>

                                </table>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

        function loadTableData(selectedDate, selectedLoCao, selectedKip) {
            $.ajax({
                url: "/BM16_GangThoi/GetSoMeGangBKMis",
                type: "GET",
                data: {
                    ngay: selectedDate,
                    ID_LoCao: selectedLoCao,
                    IDKip: selectedKip
                },
                success: function (data) {
                    console.log('data: ' + data);
                    let tableBody = $("#dataTable tbody");
                    tableBody.find("tr:not(#addRowBtnContainer)").remove();

                    $.each(data, function (index, item) {
                        let soMe = item.testPatternCode ? item.testPatternCode : "";
                        let thungSo = soMe.length >= 2 ? soMe.slice(-2) : "";

                        let row = `
                            <tr>
                                <td class='text-center delItem' >
                                    <a class="btn btn-danger btn-sm" title="Xóa">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                                <td><input type="text" class="form-control" value="${soMe}" style="width: 170px;"></td>
                                <td><input type="text" class="form-control" value="${thungSo}" readonly></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        `;

                        $(row).insertBefore("#addRowBtnContainer");
                    });
                },
                error: function (err) {
                    console.error("Lỗi tải dữ liệu: ", err);
                }
            });
        }

        $("#IDCa").change(function () {
            let selectedCa = $(this).val();
            let selectedDate = $("#ID_Day").val();
            let kipDropdown = $("#CaKip");

            // Reset dropdown
            kipDropdown.empty().append("<option value='null'>-- Kíp làm việc --</option>").prop("disabled", true);

            if (!selectedCa || selectedCa === "null" || !selectedDate) return;

            $.ajax({
                url: "/BM16_GangThoi/GetKipFromCa",
                type: "GET",
                data: { Ngay: selectedDate, Ca: selectedCa },
                success: function (res) {
                    kipDropdown.empty().prop("disabled", true);

                    if (res.length > 0) {
                        $.each(res, function (index, item) {
                            kipDropdown.append(`<option value='${item.id_Kip}'>${item.tenKip}</option>`);
                        });
                    } else {
                        kipDropdown.append("<option value='null' disabled selected>-- Kíp làm việc --</option>");
                    }
                },
                error: function (err) {
                    console.error("Lỗi khi tải dữ liệu kíp: ", err);
                    kipDropdown.empty().append("<option value='null' disabled selected>-- Kíp làm việc --</option>").prop("disabled", true);
                }
            });
        });

        // call API
        $("#ID_Day, #IDLoCao, #IDCa").change(function () {

            let selectedDate = $("#ID_Day").val();
            let selectedLoCao = $("#IDLoCao").val();
            let selectedCa = $("#IDCa").val();
            console.log(selectedLoCao, selectedCa);
            if (selectedLoCao && selectedCa && selectedLoCao !== "null" && selectedCa !== "null" ) {
                $("#dataTable tbody").find("tr:not(#addRowBtnContainer)").remove();
                loadTableData(selectedDate, selectedLoCao, selectedCa);
            }
        });

        // click add row
        $("#addRowBtn").click(function (e) {
            e.preventDefault();
            console.log('test');
            let row = `
                <tr>
                    <td class='text-center delItem' >
                        <a class="btn btn-danger btn-sm" title="Xóa">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                    <td><input type="text" class="form-control" value=""></td>
                    <td><input type="text" class="form-control" value=""></td>
                    <td><input type="text" class="form-control" value=""></td>
                    <td><input type="text" class="form-control" value=""></td>
                    <td><input type="text" class="form-control" value=""></td>
                    <td><input type="text" class="form-control" value=""></td>
                    <td><input type="checkbox" class="form-check-input"></td>
                    <td><input type="checkbox" class="form-check-input"></td>
                    <td><input type="text" class="form-control" value=""></td>
                    <td><input type="text" class="form-control" value=""></td>
                    <td><input type="text" class="form-control" value=""></td>
                    <td><input type="text" class="form-control" value=""></td>
                    <td><input type="text" class="form-control" value=""></td>
                </tr>
                
            `;
            $(row).insertBefore("#addRowBtnContainer");
        });

        $(document).on("click", ".delItem a", function (e) {
            e.preventDefault();
            $(this).closest("tr").remove();
        });

        $(document).on("change", ".form-check-input", function () {
            let row = $(this).closest("tr");
            row.find(".form-check-input").not(this).prop("checked", false);
        });

    });
</script>
