@using Data_Product.Models
@using System.Security.Claims;
@using Data_Product.Repositorys;
@using Microsoft.EntityFrameworkCore;
@inject Data_Product.Repositorys.DataContext _context
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
@model List<Data_Product.Models.Tbl_BM_16_GangLong>

@{
    var TenTaiKhoan = User.FindFirstValue(ClaimTypes.Name);
    var TaiKhoan = _context.Tbl_TaiKhoan.Where(x => x.TenTaiKhoan == TenTaiKhoan).FirstOrDefault();
    var PhongBan = _context.Tbl_PhongBan.Where(x => x.ID_PhongBan == TaiKhoan.ID_PhongBan).FirstOrDefault();
    var ViTri = _context.Tbl_ViTri.Where(x => x.ID_ViTri == TaiKhoan.ID_ChucVu).FirstOrDefault();
}
@{

    var total_KL_GangLongThoi = Model.Sum(x => x.T_KLGangLongThoi);
    var total_KL_GangLong = Model.Sum(x => x.T_KLGangLong);
    // var total_KL_GangNhan = Model.Sum(x => x.T_KLGangLongThoi);

    var firstItem = Model.FirstOrDefault();
    var phongBan = firstItem.ChuyenDen;

    var taiKhoanList = Model.DistinctBy(x => x.TenTaiKhoan)
    .Select(x => new
    {
        x.TenTaiKhoan,
        x.HoVaTen,
        x.TenViTri,
        x.TenPhongBan,
        x.ChuKy
    }).ToList();
}

<div style="padding:0px 30px 0px 50px">
    <div>
        <div class="" style="text-align: left;display: flex;margin-bottom:0">
            <div style="flex: 0 0 50%;width:80%;  float: left; font-weight: bold; font-size: 1rem; text-transform: uppercase;">
                <img alt="Hòa Phát Dung Quất" src="https://report.hoaphatdungquat.vn/img/logoHP.png" width="205" />
                <div class="" style="margin-top: 0; font-weight:bold">CÔNG TY CỔ PHẦN THÉP</div>
                <div class="" style="font-weight:bold;margin-left:10px ">HÒA PHÁT DUNG QUẤT</div>
            </div>
           
            <div style="flex: 0 0 50%;width:20%; float:right;text-align:right; font-weight: bold;">
                <span style="font-weight:bold">BM.01/QT.05.10</span>
                <div style="margin-top:0"><span style="font-style:italic;">Ngày hiệu lực:</span> 01/09/2023</div>
                <div style="margin-top:0"><span style="font-style:italic;">Lần sửa đổi:</span> 01</div>
            </div>
        </div><!-- End Recent Sales -->
        <br />
        <br />
        <div style="flex: 0 0 100%; width: 100%; margin-top:0">
            <div style="text-align:center;margin-top:0; font-size: 1.5rem;font-weight:bold; text-transform:uppercase">
                BIÊN BẢN GIAO NHẬN GANG LỎNG - NM.@phongBan
            </div>
            <div class="text-muted small pt-0" style="text-align:center; margin-top:0;font-style: italic;">
                Kíp @firstItem.T_Ca@firstItem.T_TenKip 
                @if(firstItem.T_Ca == 1)
                {
                    @:Từ 08 giờ 00 ngày @firstItem.NgayLuyenThep?.ToString("dd/MM") đến 20 giờ 00 ngày @firstItem.NgayLuyenThep?.ToString("dd/MM/yyyy")
                } else
                {
                    @:Từ 20 giờ 00 ngày @firstItem.NgayLuyenThep?.ToString("dd/MM") đến 08 giờ 00 ngày @firstItem.NgayLuyenThep?.AddDays(1).ToString("dd/MM/yyyy")
                }
            </div>
        </div>
        <br />
        <div class="col-md-12 float-left">
            Chúng tôi gồm:
        </div>
        <div class="col-md-12 float-left" style="margin:8px 0; display:flex;width:100%">
            <div style="width:37%"> 1. Đại diện bên giao: Ông/bà: @TaiKhoan.HoVaTen</div>
            <div style="width:38%">Chức vụ:  @ViTri.TenViTri </div>
            <div style="width:25%">BP: @PhongBan.TenPhongBan</div>
        </div>
        @foreach (var item in taiKhoanList)
        {
            <div class="col-md-12 float-left" style="margin:8px 0; display:flex;width:100%">
                <div style="width:37%"> 2. Đại diện bên nhận: Ông/bà: @item.HoVaTen</div>
                <div style="width:38%">Chức vụ:  @item.TenViTri </div>
                <div style="width:25%">BP: @item.TenPhongBan</div>
            </div>
        }
        <div class="col-md-12 float-left" style="margin-bottom:8px;">
            Cùng nhau thống nhất lập biên bản giao nhận gang lỏng chi tiết như sau:
        </div>
    </div>
    


    <div class="card-body" style="padding-top:1%;">
        <div class="table-responsive" style="width: 100%; overflow-x: auto;">
            @if (phongBan == "HRC1")
            {
                <table style="border-collapse: collapse; width: 100%;table-layout: fixed; " cellpadding="0">
                    <thead>
                        <tr>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 5%;">STT</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 6%;">Lò cao</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 13%;">Số mẻ</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 6%;">Thùng số</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 9%;">Thời gian</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 13%;">Số ID</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 9%;">KL thùng & gang lỏng (T)</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 9%;">KL thùng (T)</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 9%;">KL phế nạp (T)</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 9%;">KL gang lỏng (T)</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 12%;">Ghi chú </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                            int RowNo = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center" style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 0;">
                                    @RowNo@{
                                    RowNo++;
                                }
                            </td>

                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.ID_Locao
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.MaMeThoi
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.BKMIS_ThungSo
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.Gio_NM
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.BKMIS_SoMe
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.T_KLThungVaGang_Thoi
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.T_KLThungChua_Thoi
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.T_KL_phe
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.T_KLGangLongThoi
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.T_GhiChu
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9" style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center; font-weight: 600;padding: 8px 2px;">Tổng khối lượng</td>
                        <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center; font-weight: 600;padding: 8px 2px;">@total_KL_GangLongThoi</td>
                        <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center; font-weight: 600;padding: 8px 2px;"></td>
                    </tr>
                </tfoot>
                </table>
            } else if(phongBan == "HRC2")
            {
                <table style="border-collapse: collapse; width: 100%;table-layout: fixed; " cellpadding="0">
                    <thead>
                        <tr>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 4%;">STT</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 4%;">Lò cao</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 5%;">Thùng số</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 14%;">Mã mẫu thử</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 6%;">Thời gian</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 6%;">KL thùng & gang lỏng (T)</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 6%;">KL thùng (T)</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 6%;">KL gang lỏng (T)</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 6%;">KL Gang nhận</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 5%;">Thùng trung gian</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 6%;">KL thùng & gang lỏng (T)</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 6%;">KL thùng (T)</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 6%;">KL vào lò thổi</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 8%;">Mẻ</th>
                            <th rowspan="2" style="border: 1px solid black; padding: 8px; text-align: center; vertical-align: middle; font-size: 14px; width: 8%;">Ghi chú </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{

                            int RowNo = 1;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center" style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                    @RowNo@{
                                    RowNo++;
                                }
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.ID_Locao
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.BKMIS_ThungSo
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.BKMIS_SoMe
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.Gio_NM
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.T_KLThungVaGang
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.T_KLThungChua
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.T_KLGangLong
                            </td>
                            @* TODO *@
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.KL_XeGoong 
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.ThungTrungGian
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.T_KLThungVaGang_Thoi
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.T_KLThungChua_Thoi
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.T_KLGangLongThoi
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.MaMeThoi
                            </td>
                            <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center;padding: 8px 2px;">
                                @item.T_GhiChu
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center; font-weight: 600;padding: 8px 2px;">
                            Tổng khối lượng
                        </td>
                        <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center; font-weight: 600;padding: 8px 2px;">@total_KL_GangLong</td>
                        @* TODO *@
                        <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center; font-weight: 600;padding: 8px 2px;"></td>
                        <td colspan="3" style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center; font-weight: 600;padding: 8px 2px;"></td>
                        <td style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center; font-weight: 600;padding: 8px 2px;">@total_KL_GangLongThoi</td>
                        <td colspan="2" style="font-size:14px;vertical-align:middle; border: 1px solid black;text-align:center; font-weight: 600;padding: 8px 2px;"></td>
                    </tr>
                </tfoot>
                </table>
            }
           
        </div>

    </div>
    <br />
    <u class="col-md-12 float-left" style="padding-top:1%;font-weight:bold;font-style:italic;">
            Ghi chú:
        </u>
        <div class="col-md-12 float-left">
        <span style="font-style:italic;padding-left:16px"> Biên bản này được lập thành bản có giá trị như nhau: NM.LG và NM.@phongBan mỗi bên giữ 1 bản.</span>
        </div>

        
        <div class="col-lg-12" style="text-align: left;height: 150px;display: flex;">
            <div class="col-xxl-6 col-md-6" style="width: 50%;font-weight:bold;font-size:20px">
                <div style="text-align: center;  padding-top:8px;">
                      NM.LG
                <br />
                <span style="font-style:italic; font-weight:300; font-size: 14px;"> (Ký, họ tên)</span>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="row g-2">
                            @foreach (var item in taiKhoanList)
                            {
                                <div class="col-md-4 col-sm-6 col-12">
                                    <div style="text-align: center;  padding:2%;">
                                        @if (item.ChuKy != null)
                                        {
                                            var lin = "https://report.hoaphatdungquat.vn" + item.ChuKy;
                                            <img src="@lin" alt="" height="50">
                                        }
                                        else
                                        {
                                            <img src="https://report.hoaphatdungquat.vn/img/logoHP.png" alt="">
                                        } 
                                        <img src="https://report.hoaphatdungquat.vn/img/logoHP.png" alt="">
                                    </div>
                                    <div style="text-align: center; margin-top:8px ">
                                         @item.HoVaTen 
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-xxl-6 col-md-6" style="width: 50%;font-weight:bold;font-size:20px">

                <div style="text-align: center; padding-top:8px;">
                    NM.@phongBan
                <br />
                <span style="font-style:italic; font-weight:300; font-size: 14px;"> (Ký, họ tên)</span>
                </div>
                <div style="text-align: center;  padding:2%;">
                    @if(TaiKhoan.ChuKy != null)
                    {
                        var lin = "https://report.hoaphatdungquat.vn" + TaiKhoan.ChuKy;
                        <img src="@lin" alt="" height="50">
                    }
                    else
                    {
                        <img src="https://report.hoaphatdungquat.vn/img/logoHP.png" alt="">
                    } 
                </div>
                <div style="text-align: center; margin-top:8px">
                     @TaiKhoan.HoVaTen 
                </div>
            </div>
        </div>
        
        <!-- End Recent Sales -->
   
</div>

