@using Data_Product.Models
@using System.Security.Claims;
@using Data_Product.Repositorys;
@using Microsoft.EntityFrameworkCore;
@inject Data_Product.Repositorys.DataContext _context
@model IEnumerable<Data_Product.Models.Tbl_ChiTiet_BBGangLong_GangThoi>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
@{
    int ID = Convert.ToInt32(ViewBag.Data);
    var ID_BBGN = _context.Tbl_BBGangLong_GangThoi.Where(x => x.ID_BBGL == ID).FirstOrDefault();
    var ID_TK = _context.Tbl_TrinhKyBoSung.Where(x => x.ID_BBGN == ID).FirstOrDefault();

    //Thông tin bên giao
    var ThongTin_BG = _context.Tbl_TaiKhoan.Where(x => x.ID_TaiKhoan == ID_BBGN.ID_NhanVien_BG).FirstOrDefault();
    var PhongBan_BG = _context.Tbl_PhongBan.Where(x => x.ID_PhongBan == ID_BBGN.ID_PhongBan_BG).FirstOrDefault();
    var PhanXuong_BG = _context.Tbl_Xuong.Where(x => x.ID_Xuong == ID_BBGN.ID_Xuong_BG).FirstOrDefault();
    var ViTri_BG = _context.Tbl_ViTri.Where(x => x.ID_ViTri == ThongTin_BG.ID_ChucVu).FirstOrDefault();

    //Thông tin bên nhận HRC
    var ThongTin_BN = _context.Tbl_TaiKhoan.Where(x => x.ID_TaiKhoan == ID_BBGN.ID_NhanVien_HRC).FirstOrDefault();
    var PhongBan_BN = _context.Tbl_PhongBan.Where(x => x.ID_PhongBan == ID_BBGN.ID_PhongBan_HRC).FirstOrDefault();
    var PhanXuong_BN = _context.Tbl_Xuong.Where(x => x.ID_Xuong == ID_BBGN.ID_Xuong_HRC).FirstOrDefault();
    var ViTri_BN = _context.Tbl_ViTri.Where(x => x.ID_ViTri == ThongTin_BN.ID_ChucVu).FirstOrDefault();

    // Thông tin bên nhận QLCL
    var ThongTin_BN_QLCL = _context.Tbl_TaiKhoan.Where(x => x.ID_TaiKhoan == ID_BBGN.ID_NhanVien_QLCL).FirstOrDefault();
    var PhongBan_BN_QLCL = _context.Tbl_PhongBan.Where(x => x.ID_PhongBan == ID_BBGN.ID_PhongBan_QLCL).FirstOrDefault();
    var PhanXuong_BN_QLCL = _context.Tbl_Xuong.Where(x => x.ID_Xuong == ID_BBGN.ID_Xuong_QLCL).FirstOrDefault();
    var ViTri_BN_QLCL = _context.Tbl_ViTri.Where(x => x.ID_ViTri == ThongTin_BN_QLCL.ID_ChucVu).FirstOrDefault();

    var TenTaiKhoan = User.FindFirstValue(ClaimTypes.Name);
    var TaiKhoan = _context.Tbl_TaiKhoan.Where(x => x.TenTaiKhoan == TenTaiKhoan).FirstOrDefault();
}
@using (Html.BeginForm("YCauHieuChinhBM", "XuLyPhieuBM", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "submitForm(event)" }))
{
    <div class="app-main__outer">
        <div class="app-main__inner" style="display:block;padding-bottom: 0px;">
            <div class="tab-content">
                <div class="row">
                    <div class="card">
                        <div class="row" style="width:100%">
                            <div style="display: flex; border-bottom: 0.8px solid #E8E8E8; position: fixed; background-color: #F9F9F9; width: 100%;">
                                <div style="flex: 2; text-align: left; padding: 2% 2% 2% 0%;">
                                    <span class="text-muted small pt-2 ps-1">
                                        <b style="color:#06428b">
                                            BM.16/QT.05.09
                                        </b>
                                    </span>
                                </div>
                                <div class="col-4 " style="padding: 2%  2%  2% 0%; ">
                                    <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index", "Menu")';">
                                        <i class="bi bi-x-lg"></i>
                                        <span class="small pt-2 ps-1" style="color: white;">
                                            Hủy bỏ
                                        </span>
                                    </button>
                                    <button type="submit" class="btn btn-primary" name="xacnhan" id="xacnhan" value="1">
                                        <i class="bi bi-send"></i>
                                        <span class="small pt-2 ps-1" style="color: white;">
                                            Gửi phiếu
                                        </span>
                                    </button>
                                    @* <button type="submit" class="btn btn-success" name="btnSave" id="btnSave" value="1">
                                        <i class="bi bi-send"></i>
                                        <span class="small pt-2 ps-1" style="color: white;">
                                            Lưu phiếu
                                        </span>
                                    </button> *@
                                </div>
                            </div>
                        </div>
                        <div class="row" style="width:100%;padding-top:7.5%;">
                            <div class="col-lg-12" style="text-align: left;background-color: #f9f9f9;height: 80px;padding: 1.7% 0% 0% 1%;border-radius: 10px;margin-left: 8px;">
                                <span style="color:black; font-size:14px;">
                                    Kíp 2C - Ngày 01 tháng 10 năm 2024
                                </span>
                            </div><!-- End Recent Sales -->

                        </div>
                        <div class="col-lg-12" style="display:flex;padding-bottom: 1%;padding-top:1.5%;">
                            @{
                                var PhongBan = _context.Tbl_PhongBan.Where(x => x.ID_PhongBan == TaiKhoan.ID_PhongBan).FirstOrDefault();
                                var PhanXuong = _context.Tbl_Xuong.Where(x => x.ID_Xuong == TaiKhoan.ID_PhanXuong).FirstOrDefault();
                                var ViTri = _context.Tbl_ViTri.Where(x => x.ID_ViTri == TaiKhoan.ID_ChucVu).FirstOrDefault();
                            }
                            <div class="col-lg-12 d-flex justify-content-between align-items-center flex-wrap" style="padding-bottom: 1%; padding-top: 1.5%; gap: 1%;">
                                <!-- Đại diện bên giao -->
                                <div class="d-flex align-items-center justify-content-start flex-grow-1 bg-light rounded shadow-sm px-3"
                                     style="min-width: 300px; max-width: 32%; height: 50px;">
                                    <label class="mb-0 me-2 fw-semibold text-nowrap" style="width: 130px;">Đại diện bên giao:</label>
                                    <span id="ID_NhanVien_BG" class="flex-grow-1" data-info="@TaiKhoan.ID_TaiKhoan" style="font-size: 14px;">
                                        @TaiKhoan.TenTaiKhoan - @TaiKhoan.HoVaTen
                                    </span>
                                </div>

                                <!-- Chức vụ -->
                                <div class="d-flex align-items-center justify-content-start flex-grow-1 bg-light rounded shadow-sm px-3"
                                     style="min-width: 300px; max-width: 32%; height: 50px;">
                                    <label class="mb-0 me-2 fw-semibold text-nowrap" style="width: 66px;">Chức vụ:</label>
                                    <span id="ID_ViTri_BG" class="flex-grow-1" data-info="@ViTri.ID_ViTri" style="font-size: 14px;">
                                        @ViTri.TenViTri
                                    </span>
                                </div>

                                <!-- BP/NM -->
                                <div class="d-flex align-items-center justify-content-start flex-grow-1 bg-light rounded shadow-sm px-3"
                                     style="min-width: 300px; max-width: 32%; height: 50px;">
                                    <label class="mb-0 me-2 fw-semibold text-nowrap" style="width: 66px;">BP/NM:</label>
                                    <span id="ID_PhongBan_BG" class="flex-grow-1" data-info="@TaiKhoan.ID_PhongBan-@PhanXuong.ID_Xuong" style="font-size: 14px;">
                                        @PhongBan.TenPhongBan - @PhanXuong.TenXuong
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-12 d-flex justify-content-between align-items-center flex-wrap" style="padding-bottom: 1%; margin-top: -15px; gap: 1%;">
                            <!-- Đại diện bên nhận HRC -->
                            <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                                <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                    Đại diện bên nhận HRC:
                                </span>
                                <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                    @ThongTin_BN.TenTaiKhoan - @ThongTin_BN.HoVaTen
                                </span>
                            </div>

                            <!-- Chức vụ -->
                            <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                                <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                    Chức vụ:
                                </span>
                                <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                    @ViTri_BN.TenViTri
                                </span>
                            </div>

                            <!-- BP/NM -->
                            <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                                <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                    BP/NM:
                                </span>
                                <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                    @PhongBan_BN.TenPhongBan - @PhanXuong_BN.TenXuong
                                </span>
                            </div>
                        </div>

                        <div class="col-lg-12 d-flex justify-content-between align-items-center flex-wrap" style="padding-bottom: 1%; margin-top: -20px; gap: 1%;">
                            <!-- Đại diện bên nhận QLCL -->
                            <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                                <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                    Đại diện bên nhận QLCL:
                                </span>
                                <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                    @ThongTin_BN_QLCL.TenTaiKhoan - @ThongTin_BN_QLCL.HoVaTen
                                </span>
                            </div>

                            <!-- Chức vụ -->
                            <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                                <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                    Chức vụ:
                                </span>
                                <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                    @ViTri_BN_QLCL.TenViTri
                                </span>
                            </div>

                            <!-- BP/NM -->
                            <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                                <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                    BP/NM:
                                </span>
                                <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                    @PhongBan_BN_QLCL.TenPhongBan - @PhanXuong_BN_QLCL.TenXuong
                                </span>
                            </div>
                        </div>
                        @if (ID_BBGN.ID_QuyTrinh == 2 || ID_BBGN.ID_QuyTrinh == 3)
                        {
                            var ThongTin_NVTT = _context.Tbl_TaiKhoan.Where(x => x.ID_TaiKhoan == ID_TK.ID_TaiKhoan).FirstOrDefault();
                            var ThongTin_NVTT_View = _context.Tbl_TaiKhoan.Where(x => x.ID_TaiKhoan == ID_TK.ID_TaiKhoan_View).FirstOrDefault();
                            var PKHPheDuyet = _context.Tbl_TrinhKyBoSung.Where(x => x.ID_BBGN == ID_BBGN.ID_BBGL).FirstOrDefault();

                            <div class="col-lg-12 d-flex justify-content-between align-items-center flex-wrap" style="width: 100%; margin-top: -24px; padding-bottom: 1%; gap: 1%;">
                                <!-- Nhân viên thống kê phê duyệt -->
                                <div class="d-flex align-items-center bg-light rounded p-2 mb-0 shadow-sm" style="min-height: 57px; width: 49%; gap: 1rem;">
                                    <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                        Nhân viên thống kê phê duyệt:
                                    </span>
                                    <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                        @ThongTin_NVTT?.TenTaiKhoan - @ThongTin_NVTT?.HoVaTen
                                        @if (PKHPheDuyet.ID_TrangThai == 1)
                                        {
                                            <span class="text-danger">(Đã phê duyệt phiếu)</span>
                                        }
                                        else if (PKHPheDuyet.ID_TrangThai == 2)
                                        {
                                            <span class="text-danger">(Không duyệt phiếu)</span>
                                        }
                                        else if (PKHPheDuyet.ID_TrangThai == 3)
                                        {
                                            <span class="text-danger">(BN Hủy phiếu)</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">(Chưa xử lý)</span>
                                        }
                                    </span>
                                </div>

                                <!-- Nhân viên thống kê nhận BBGN -->
                                <div class="d-flex align-items-center bg-light rounded p-2 mb-0 shadow-sm" style="min-height: 57px; width: 49%; gap: 1rem;">
                                    <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                        Nhân viên thống kê nhận BBGN:
                                    </span>
                                    <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                        @ThongTin_NVTT_View?.TenTaiKhoan - @ThongTin_NVTT_View?.HoVaTen
                                    </span>
                                </div>
                            </div>


                            <!-- End Recent Sales -->
                        }
                        <div class="row" style="width: 100%; padding-bottom: 1%;">
                            <div class="col-lg-12">
                                <div class="d-flex align-items-start bg-light rounded p-2 gap-3" style="margin-top: -7px; width: 102%;">
                                    <label for="NoiDungTrichYeu" class="text-dark" style="font-size: 14px; white-space: nowrap; margin-top: 6px;">
                                        Nội dung trích yếu:
                                    </label>
                                    <textarea class="form-control" id="NoiDungTrichYeu" name="NoiDungTrichYeu" rows="2" style="flex: 1;" disabled>@Html.Raw(ViewBag.NoiDungTrichYeu)</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="width:100%">
                            <div class="col-lg-12" style="text-align: left;height: 200px;display: flex;">
                                <div class="col-xxl-12 col-md-6" style="text-align:center; padding-top:2%;">
                                    <h4>
                                        <b>
                                            BIÊN BẢN
                                        </b>
                                        <br />
                                        <b>
                                            GIAO NHẬN GANG LỎNG -GANG THỎI
                                        </b>
                                        <br />
                                        <b>
                                            CẦN HIỆU CHỈNH
                                        </b>
                                    </h4>
                                    <span style="color:black; font-size:14px;">
                                        @ID_BBGN.SoPhieu
                                    </span>
                                </div>

                            </div><!-- End Recent Sales -->
                        </div>
                        <div class="card-body" style="padding-top: 1%;">
                            <div class="table-responsive" style="height: 400px;">
                                <table class="table table-bordered table-hover" id="dataTable" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">STT</th>
                                            <th rowspan="2">Số mẻ</th>
                                            <th rowspan="2">Thùng số</th>
                                            <th rowspan="2">Khối lượng xe goong</th>
                                            <th rowspan="2">Khối lượng thùng</th>
                                            <th rowspan="2">KL thùng & gang lỏng (tấn)</th>
                                            <th rowspan="2">KL gang lỏng cân ray (tấn)</th>
                                            <th colspan="2">Vận chuyển đến</th>
                                            <th rowspan="2">Phân loại</th>
                                            <th rowspan="2">Giờ</th>
                                            <th rowspan="2">Ghi chú</th>
                                        </tr>
                                        <tr>
                                            <th>NM.HRC1</th>
                                            <th>NM.HRC2</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var index = 1;
                                        }
                                        @foreach (var item in Model)
                                        {

                                            <tr>
                                                <td class='text-center delItem'>
                                                    <a class="btn btn-danger btn-sm" title="Xóa">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
                                                </td>

                                                <td><input type="text" name="SoMe" class="form-control" value="@item.SoMe" style="width: 170px;" ></td>
                                                <td><input type="text" name="ThungSo" class="form-control" value="@item.ThungSo" ></td>

                                                <td><input type="number" name="KhoiLuongXeGoong" value="@item.KhoiLuongXeGoong" class="form-control"></td>
                                                <td><input id="KLThung_${index}" name="KhoiLuongThung" type="number" step="0.01" min="0.01" class="form-control" value="@item.KhoiLuongThung"></td>
                                                <td><input id="KLThungGL_${index}" name="KLThungGangLong" type="number" step="0.01" min="0.01" class="form-control" value="@item.KLThungGangLong"></td>

                                                <td><input id="KLGLCR_${index}" name="KLGangLongCanRay" type="text" class="form-control" value="@item.KLGangLongCanRay"></td>
                                                @* <td> *@
                                                @*     <input type="hidden" name="VanChuyenHRC1" value="0" /> *@
                                                @*     <input type="checkbox" name="VanChuyenHRC1" value="1" @(item.VanChuyenHRC1 == 1 ? "checked" : "") /> *@
                                                @* </td> *@
                                                @* <td> *@
                                                @*     <input type="hidden" name="VanChuyenHRC2" value="0" /> *@
                                                @*     <input type="checkbox" name="VanChuyenHRC2" value="1" @(item.VanChuyenHRC2 == 1 ? "checked" : "") /> *@
                                                @* </td> *@


                                                <td>
                                                    <input type="hidden"
                                                           name="Tbl_ChiTiet_BBGangLong_GangThoi[0].VanChuyenHRC1_Hiden"
                                                           value="0" />
                                                    <input type="checkbox"
                                                           name="Tbl_ChiTiet_BBGangLong_GangThoi[0].VanChuyenHRC1"
                                                           value="1"
                                                    @(item.VanChuyenHRC1 == 1 ? "checked" : "") />
                                                </td>

                                                <td>
                                                    <input type="hidden"
                                                           name="Tbl_ChiTiet_BBGangLong_GangThoi[0].VanChuyenHRC2_Hiden"
                                                           value="0" />
                                                    <input type="checkbox"
                                                           name="Tbl_ChiTiet_BBGangLong_GangThoi[0].VanChuyenHRC2"
                                                           value="1"
                                                    @(item.VanChuyenHRC2 == 1 ? "checked" : "") />
                                                </td>

                                                <script>
                                                       document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
                                                        checkbox.addEventListener('change', function() {
                                                            const hiddenField = this.previousElementSibling;
                                                            if (this.checked) {
                                                                hiddenField.value = this.value;
                                                            } else {
                                                                hiddenField.value = '0';
                                                            }
                                                        });
                                                    });
                                                </script>
                                                <td><input type="text" name="PhanLoai" class="form-control" value="@item.PhanLoai"></td>
                                                <td><input type="text" name="Gio" class="form-control" value="@item.Gio" ></td>
                                                <td><input type="text" name="GhiChu" class="form-control" value="@item.GhiChu"></td>
                                            </tr>
                                            index++;
                                        }

                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6" class="text-center font-weight-bold"><b>Tổng khối lượng</b></td>
                                            <td class="font-weight-bold">@Model.Sum(x => x.KLGangLongCanRay)</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
    <script type="text/javascript">
        $(".SelectVT").chosen({
            width: "100%"
        });
        $(".SelectQT").chosen({
            width: "100%"
        });
        $("#IDTaiKhoan").chosen({
            width: "100%"
        });
        $("#IDTaiKhoan").chosen({
            width: "100%"
        });
        $("#IDKip").chosen({
            width: "100%"
        });
        $("#IDNhanVienTT").chosen({
            width: "100%"
        });
        $("#IDNhanVienView").chosen({
            width: "100%"
        });
    </script>
    
