@using Data_Product.Models
@using System.Security.Claims;
@using Data_Product.Repositorys;
@using Microsoft.EntityFrameworkCore;
@inject Data_Product.Repositorys.DataContext _context
@model IEnumerable<Data_Product.Models.Tbl_ChiTiet_BBGangLong_GangThoi>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
@{
    int ID = Convert.ToInt32(ViewBag.Data);
    var ID_BBGN = _context.Tbl_BBGangLong_GangThoi.Where(x => x.ID_BBGL == ID).FirstOrDefault();
    var ID_TK = _context.Tbl_TrinhKyBoSung.Where(x => x.ID_BBGN == ID).FirstOrDefault();

    //Thông tin bên giao
    var ThongTin_BG = _context.Tbl_TaiKhoan.Where(x => x.ID_TaiKhoan == ID_BBGN.ID_NhanVien_BG).FirstOrDefault();
    var PhongBan_BG = _context.Tbl_PhongBan.Where(x => x.ID_PhongBan == ID_BBGN.ID_PhongBan_BG).FirstOrDefault();
    var PhanXuong_BG = _context.Tbl_Xuong.Where(x => x.ID_Xuong == ID_BBGN.ID_Xuong_BG).FirstOrDefault();
    var ViTri_BG = _context.Tbl_ViTri.Where(x => x.ID_ViTri == ThongTin_BG.ID_ChucVu).FirstOrDefault();

    //Thông tin bên nhận HRC1
    var ThongTin_BN = _context.Tbl_TaiKhoan.Where(x => x.ID_TaiKhoan == ID_BBGN.ID_NhanVien_HRC).FirstOrDefault();
    var PhongBan_BN = _context.Tbl_PhongBan.Where(x => x.ID_PhongBan == ID_BBGN.ID_PhongBan_HRC).FirstOrDefault();
    var PhanXuong_BN = _context.Tbl_Xuong.Where(x => x.ID_Xuong == ID_BBGN.ID_Xuong_HRC).FirstOrDefault();
    var ViTri_BN = _context.Tbl_ViTri.Where(x => x.ID_ViTri == ThongTin_BN.ID_ChucVu).FirstOrDefault();

    //Thông tin bên nhận HRC2
    var ThongTin_BNHRC2 = _context.Tbl_TaiKhoan.Where(x => x.ID_TaiKhoan == ID_BBGN.ID_NhanVien_HRC2).FirstOrDefault();
    var PhongBan_BNHRC2 = _context.Tbl_PhongBan.Where(x => x.ID_PhongBan == ID_BBGN.ID_PhongBan_HRC2).FirstOrDefault();
    var PhanXuong_BNHRC2 = _context.Tbl_Xuong.Where(x => x.ID_Xuong == ID_BBGN.ID_Xuong_HRC2).FirstOrDefault();
    var ViTri_BNHRC2 = _context.Tbl_ViTri.Where(x => x.ID_ViTri == ThongTin_BNHRC2.ID_ChucVu).FirstOrDefault();

    //Thông tin bên nguyen lieu
    var ThongTin_NVNL = _context.Tbl_TaiKhoan.Where(x => x.ID_TaiKhoan == ID_BBGN.ID_Nhanvien_NL).FirstOrDefault();
    var PhongBan_NVNL = _context.Tbl_PhongBan.Where(x => x.ID_PhongBan == ID_BBGN.ID_PB_NL).FirstOrDefault();
    var PhanXuong_NVNL = _context.Tbl_Xuong.Where(x => x.ID_Xuong == ID_BBGN.ID_Xuong_NL).FirstOrDefault();
    var ViTri_NVNL = _context.Tbl_ViTri.Where(x => x.ID_ViTri == ThongTin_NVNL.ID_ChucVu).FirstOrDefault();

    // Thông tin bên nhận QLCL
    var ThongTin_BN_QLCL = _context.Tbl_TaiKhoan.Where(x => x.ID_TaiKhoan == ID_BBGN.ID_NhanVien_QLCL).FirstOrDefault();
    var PhongBan_BN_QLCL = _context.Tbl_PhongBan.Where(x => x.ID_PhongBan == ID_BBGN.ID_PhongBan_QLCL).FirstOrDefault();
    var PhanXuong_BN_QLCL = _context.Tbl_Xuong.Where(x => x.ID_Xuong == ID_BBGN.ID_Xuong_QLCL).FirstOrDefault();
    var ViTri_BN_QLCL = _context.Tbl_ViTri.Where(x => x.ID_ViTri == ThongTin_BN_QLCL.ID_ChucVu).FirstOrDefault();

    var TenTaiKhoan = User.FindFirstValue(ClaimTypes.Name);
    var TaiKhoan = _context.Tbl_TaiKhoan.Where(x => x.TenTaiKhoan == TenTaiKhoan).FirstOrDefault();
}
<div class="app-main__outer">
    <div class="app-main__inner" style="display:block;padding-bottom: 0px;">
        <div class="tab-content">
            <div class="row">
                <div class="card">
                    <div class="row" style="width:100%">
                        <div style="display: flex;border-bottom: 0.8px solid #E8E8E8;position: fixed;background-color: #F9F9F9;width: -webkit-fill-available;">
                            <div>
                                <span class="text-muted small pt-2 ps-1">
                                    <b style="color:#06428b">
                                        BM.16/QT.05
                                    </b>
                                </span>
                            </div>
                            @if (ID_BBGN.TinhTrang_BBGN == 1)
                            {
                                <div class="col-4" style="text-align: right;padding: 2%  2%  2% 0%; ">
                                    <button type="submit" class="btn btn-primary" id="btn-Export">
                                        <i class="bi bi-file-earmark-excel"></i>
                                        <span class="small pt-2 ps-1" style="color: white;">
                                            Xuất Excel
                                        </span>
                                    </button>
                                    @if (ID_BBGN.FileBBGL != null)
                                    {
                                        <button type="submit" class="btn btn-info">
                                            <a href="@ID_BBGN.FileBBGL" target="_blank">
                                                <i class="bi bi-filetype-pdf" style="color: white;"></i>
                                                <span class="small pt-2 ps-1" style="color: white;">
                                                    Xem pdf
                                                </span>
                                            </a>
                                        </button>
                                    }

                                    <button type="submit" class="btn btn-info">
                                        <a href="@Url.Action("GenerateAndSavePdf", "XuLyPhieuBM", new { id = ID_BBGN.ID_BBGL })">
                                            <i class="bi bi-filetype-pdf" style="color: white;"></i>
                                            <span class="small pt-2 ps-1" style="color: white;">
                                                Xuất PDF
                                            </span>
                                        </a>
                                    </button>
                                </div>
                                <div class="col-4" style="text-align: right;padding: 2%  2%  2% 0%; " id="showFunc">

                                    @if (ThongTin_BG.ID_TaiKhoan == TaiKhoan.ID_TaiKhoan)
                                    {
                                        <button type="submit" class="btn btn-warning">
                                            <a href="@Url.Action("YCauHieuChinhBM", "XuLyPhieuBM", new { id = ID_BBGN.ID_BBGL })">
                                                <i class="bi bi-send-x-fill" style="color: white;"></i>
                                                <span class="small pt-2 ps-1" style="color: white;">
                                                    Đề nghị hiệu chỉnh
                                                </span>
                                            </a>
                                        </button>
                                        <button type="submit" class="btn btn-primary">
                                            <a href="@Url.Action("SaoChepPhieuBM", "BM", new { id = ID_BBGN.ID_BBGL })">
                                                <i class="bi bi-clipboard-check" style="color: white;"></i>
                                                <span class="small pt-2 ps-1" style="color: white;">
                                                    Copy tạo phiếu
                                                </span>
                                            </a>
                                        </button>
                                        <button id="btn-delete" type="button" type="button" class="btn btn-danger" style="width: 150px;">
                                            <i class="bi bi-x-circle" style="color: white;"></i>
                                            <span class="small pt-2 ps-1" style="color: white;">
                                                Xóa Phiếu
                                            </span>
                                        </button>

                                    }

                                </div>

                            }
                            else if (ID_BBGN.TinhTrang_BBGN == 5) //xóa phiếu
                            {
                                var checkxoa = _context.Tbl_XuLyXoaPhieu.Where(x => x.ID_BBGN == ID_BBGN.ID_BBGL && x.ID_TaiKhoanBN == TaiKhoan.ID_TaiKhoan && x.TinhTrang_BN == 0).FirstOrDefault();
                                if (checkxoa != null)
                                {
                                    <div class="col-4" style="text-align: right;padding: 2%  2%  2% 0%; ">
                                        <button type="submit" class="btn btn-danger" name="xacnhan" id="xacnhan" value="1">
                                            <a href="@Url.Action("BN_XoaPhieu", "XuLyPhieuBM", new { id = ID_BBGN.ID_BBGL,tinhtrang =0 })">
                                                <i class="bi bi-send-x" style="color: white;"></i>
                                                <span class="small pt-2 ps-1" style="color: white;">
                                                    Không xóa phiếu
                                                </span>
                                            </a>
                                        </button>

                                        <button type="submit" class="btn btn-primary" name="xacnhan" id="xacnhan" value="1">
                                            <a href="@Url.Action("BN_XoaPhieu", "XuLyPhieuBM", new { id = ID_BBGN.ID_BBGL,tinhtrang =1 })">
                                                <i class="bi bi-floppy" style="color: white;"></i>
                                                <span class="small pt-2 ps-1" style="color: white;">
                                                    Xác nhận xóa phiếu
                                                </span>
                                            </a>
                                        </button>
                                    </div>
                                }
                            }

                        </div>


                        <script type="text/javascript">
                            $('#btn-Export').click(function () {
                            window.location.href = '@Url.Action("ExportToExcel", "XuLyPhieuBM")?BBGN_ID=' + @ID;
                            });
                        </script>

                    </div>
                </div>
                <div class="modal" id="myModal" role="dialog" data-url='@Url.Action("HuyPhieu_PheDuyet", "XuLyPhieuBM", new { id = ID_BBGN.ID_BBGL })'>

                </div>
                    <script type="text/javascript">
                        $('#btn-delete').click(function () {
                            var url = $('#myModal').data('url');
                            $.get(url, function (data) {
                                $("#myModal").html(data);
                                $("#ModalTitle").html("THÔNG TIN PHÊ DUYỆT HỦY PHIẾU");
                                $("#myModal").modal('show');
                                console.log("aaaa");
                            });
                        });
                    </script>

                <div class="row" style="width:100%;padding-top:7.5%;">
                    <div class="col-lg-12" style="text-align: left;height: 210px;display: flex;">
                        <div class="col-xxl-4 col-md-6">
                            <img src="~/img/logoHP.png" alt="">
                            <div style="text-align: center; width: 45%; font-size: 14px; padding-top:0.5%;">
                                <b>
                                    CÔNG TY CỔ PHẦN THÉP<br />
                                    HÒA PHÁT DUNG QUẤT
                                </b>

                            </div>

                            <div style="text-align: center; width: 45%; font-size: 14px; padding-top:0.5%;">
                            </div>

                        </div>
                        <div class="col-xxl-4 col-md-6" style="text-align:center; padding-top:7%;">
                            <h4>
                                <b>
                                    BIÊN BẢN GIAO NHẬN
                                </b>
                                <br />
                                <b>
                                    KHỐI LƯỢNG GANG LỎNG - GANG THỎI
                                </b>
                            </h4>
                            <span class="text-muted small pt-2 ps-1">

                                @{
                                    var ID_Kip = _context.Tbl_Kip.Where(x => x.ID_Kip == ID_BBGN.ID_Kip).FirstOrDefault();
                                    var Date = (DateTime)ID_BBGN.NgayXuly_BG;
                                }
                                <i style="color:black;">
                                    Lò cao @ViewBag.ID_LoCao, Kíp @ID_Kip.TenCa@ID_Kip.TenKip Ngày @Date.ToString("dd") Tháng @Date.ToString("MM") Năm @Date.ToString("yyyy")
                                </i>

                            </span>
                        </div>
                        <div class="col-xxl-4 col-md-6" style="text-align: right;">
                            @* <div style="text-align:right;font-size:14px;">
                                <b>BM.16/QT.05</b>
                            </div> *@
                            <div style="text-align:right;font-size:14px;">
                                <b> <i>Ngày hiệu lực:</i> 01/10/2024</b>
                            </div>
                            <div style="text-align:right;font-size:14px;">
                                <b> <i>Lần sửa đổi:</i> 01</b>
                            </div>
                        </div>

                    </div><!-- End Recent Sales -->
                    <div class="col-lg-12" style="display:flex;padding-bottom: 1%;padding-top:1.5%;">
                        @{
                            var PhongBan = _context.Tbl_PhongBan.Where(x => x.ID_PhongBan == TaiKhoan.ID_PhongBan).FirstOrDefault();
                            var PhanXuong = _context.Tbl_Xuong.Where(x => x.ID_Xuong == TaiKhoan.ID_PhanXuong).FirstOrDefault();
                            var ViTri = _context.Tbl_ViTri.Where(x => x.ID_ViTri == TaiKhoan.ID_ChucVu).FirstOrDefault();
                        }
                        <div class="col-lg-12 d-flex justify-content-between align-items-center flex-wrap" style="padding-bottom: 1%; padding-top: 1.5%; gap: 1%;">
                            <!-- Đại diện bên giao -->
                            <div class="d-flex align-items-center justify-content-start flex-grow-1 bg-light rounded shadow-sm px-3"
                                 style="min-width: 300px; max-width: 32%; height: 50px;">
                                <label class="mb-0 me-2 fw-semibold text-nowrap" style="width: 130px;">Đại diện bên giao:</label>
                                <span id="ID_NhanVien_BG" class="flex-grow-1" data-info="@TaiKhoan.ID_TaiKhoan" style="font-size: 14px;">
                                    @TaiKhoan.TenTaiKhoan - @TaiKhoan.HoVaTen
                                </span>
                            </div>

                            <!-- Chức vụ -->
                            <div class="d-flex align-items-center justify-content-start flex-grow-1 bg-light rounded shadow-sm px-3"
                                 style="min-width: 300px; max-width: 32%; height: 50px;">
                                <label class="mb-0 me-2 fw-semibold text-nowrap" style="width: 66px;">Chức vụ:</label>
                                <span id="ID_ViTri_BG" class="flex-grow-1" data-info="@ViTri.ID_ViTri" style="font-size: 14px;">
                                    @ViTri.TenViTri
                                </span>
                            </div>

                            <!-- BP/NM -->
                            <div class="d-flex align-items-center justify-content-start flex-grow-1 bg-light rounded shadow-sm px-3"
                                 style="min-width: 300px; max-width: 32%; height: 50px;">
                                <label class="mb-0 me-2 fw-semibold text-nowrap" style="width: 66px;">BP/NM:</label>
                                <span id="ID_PhongBan_BG" class="flex-grow-1" data-info="@TaiKhoan.ID_PhongBan-@PhanXuong.ID_Xuong" style="font-size: 14px;">
                                    @PhongBan.TenPhongBan - @PhanXuong.TenXuong
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-12 d-flex justify-content-between align-items-center flex-wrap" style="padding-bottom: 1%; margin-top: -15px; gap: 1%;">
                        <!-- Đại diện bên nhận HRC -->
                        <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                            <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                Đại diện bên nhận HRC:
                            </span>
                            <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                @ThongTin_BN.TenTaiKhoan - @ThongTin_BN.HoVaTen
                            </span>
                        </div>

                        <!-- Chức vụ -->
                        <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                            <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                Chức vụ:
                            </span>
                            <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                @ViTri_BN.TenViTri
                            </span>
                        </div>

                        <!-- BP/NM -->
                        <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                            <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                BP/NM:
                            </span>
                            <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                @PhongBan_BN.TenPhongBan - @PhanXuong_BN.TenXuong
                            </span>
                        </div>
                    </div>


                    <div class="col-lg-12 d-flex justify-content-between align-items-center flex-wrap" style="padding-bottom: 1%; margin-top: -15px; gap: 1%;">
                        <!-- Đại diện bên nhận HRC2 -->
                        <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                            <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                Đại diện bên nhận HRC2:
                            </span>
                            <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                @ThongTin_BNHRC2.TenTaiKhoan - @ThongTin_BNHRC2.HoVaTen
                            </span>
                        </div>

                        <!-- Chức vụ -->
                        <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                            <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                Chức vụ:
                            </span>
                            <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                @ViTri_BNHRC2.TenViTri
                            </span>
                        </div>

                        <!-- BP/NM -->
                        <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                            <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                BP/NM:
                            </span>
                            <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                @PhongBan_BNHRC2.TenPhongBan - @PhanXuong_BNHRC2.TenXuong
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-12 d-flex justify-content-between align-items-center flex-wrap" style="padding-bottom: 1%; margin-top: -15px; gap: 1%;">
                        <!-- Đại diện bên nhân viên Nguyên liệu -->
                        <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                            <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                Đại diện nhân viên nguyên liệu:
                            </span>
                            <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                @ThongTin_NVNL.TenTaiKhoan - @ThongTin_NVNL.HoVaTen
                            </span>
                        </div>

                        <!-- Chức vụ -->
                        <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                            <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                Chức vụ:
                            </span>
                            <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                @ViTri_BN_QLCL.TenViTri
                            </span>
                        </div>

                        <!-- BP/NM -->
                        <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                            <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                BP/NM:
                            </span>
                            <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                @PhongBan_BN_QLCL.TenPhongBan - @PhanXuong_BN_QLCL.TenXuong
                            </span>
                        </div>
                    </div>

                    <div class="col-lg-12 d-flex justify-content-between align-items-center flex-wrap" style="padding-bottom: 1%; margin-top: -20px; gap: 1%;">
                        <!-- Đại diện bên nhận QLCL -->
                        <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                            <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                Đại diện bên nhận QLCL:
                            </span>
                            <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                @ThongTin_BN_QLCL.TenTaiKhoan - @ThongTin_BN_QLCL.HoVaTen
                            </span>
                        </div>

                        <!-- Chức vụ -->
                        <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                            <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                Chức vụ:
                            </span>
                            <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                @ViTri_BN_QLCL.TenViTri
                            </span>
                        </div>

                        <!-- BP/NM -->
                        <div class="d-flex align-items-center bg-light rounded p-2 mb-3 shadow-sm" style="min-height: 57px; width: 31.8%; gap: 1rem;">
                            <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                BP/NM:
                            </span>
                            <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                @PhongBan_BN_QLCL.TenPhongBan - @PhanXuong_BN_QLCL.TenXuong
                            </span>
                        </div>
                    </div>
                    @if (ID_BBGN.ID_QuyTrinh == 2 || ID_BBGN.ID_QuyTrinh == 3)
                    {
                        var ThongTin_NVTT = _context.Tbl_TaiKhoan.Where(x => x.ID_TaiKhoan == ID_TK.ID_TaiKhoan).FirstOrDefault();
                        var ThongTin_NVTT_View = _context.Tbl_TaiKhoan.Where(x => x.ID_TaiKhoan == ID_TK.ID_TaiKhoan_View).FirstOrDefault();
                        var PKHPheDuyet = _context.Tbl_TrinhKyBoSung.Where(x => x.ID_BBGN == ID_BBGN.ID_BBGL).FirstOrDefault();

                        <div class="col-lg-12 d-flex justify-content-between align-items-center flex-wrap" style="width: 100%; margin-top: -24px; padding-bottom: 1%; gap: 1%;">
                            <!-- Nhân viên thống kê phê duyệt -->
                            <div class="d-flex align-items-center bg-light rounded p-2 mb-0 shadow-sm" style="min-height: 57px; width: 49%; gap: 1rem;">
                                <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                    Nhân viên thống kê phê duyệt:
                                </span>
                                <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                    @ThongTin_NVTT?.TenTaiKhoan - @ThongTin_NVTT?.HoVaTen
                                    @if (PKHPheDuyet.ID_TrangThai == 1)
                                    {
                                        <span class="text-danger">(Đã phê duyệt phiếu)</span>
                                    }
                                    else if (PKHPheDuyet.ID_TrangThai == 2)
                                    {
                                        <span class="text-danger">(Không duyệt phiếu)</span>
                                    }
                                    else if (PKHPheDuyet.ID_TrangThai == 3)
                                    {
                                        <span class="text-danger">(BN Hủy phiếu)</span>
                                    }
                                    else
                                    {
                                        <span class="text-danger">(Chưa xử lý)</span>
                                    }
                                </span>
                            </div>

                            <!-- Nhân viên thống kê nhận BBGN -->
                            <div class="d-flex align-items-center bg-light rounded p-2 mb-0 shadow-sm" style="min-height: 57px; width: 49%; gap: 1rem;">
                                <span class="text-dark mb-0" style="font-size: 14px; white-space: nowrap;">
                                    Nhân viên thống kê nhận BBGN:
                                </span>
                                <span class="text-dark mb-0 flex-grow-1" style="font-size: 14px;">
                                    @ThongTin_NVTT_View?.TenTaiKhoan - @ThongTin_NVTT_View?.HoVaTen
                                </span>
                            </div>
                        </div>


                        <!-- End Recent Sales -->
                    }
                </div>
                @{
                    var modals = _context.Tbl_BBGangLong_GangThoi.Where(x => x.ID_BBGL == ID).ToList();

                }
                @foreach (var item in modals)
                  {
                    <div class="row" style="width: 100%; padding-bottom: 1%;">
                        <div class="col-lg-12">
                            <div class="d-flex align-items-start bg-light rounded p-2 gap-3" style="margin-top: -7px; width: 102%;">
                                <label for="NoiDungTrichYeu" class="text-dark" style="font-size: 14px; white-space: nowrap; margin-top: 6px;">
                                    Nội dung trích yếu:
                                </label>
                                <textarea class="form-control" id="NoiDungTrichYeu" name="NoiDungTrichYeu" rows="2" style="flex: 1;" disabled>@item.NoiDungTrichYeu</textarea>
                            </div>
                        </div>
                    </div>
                  }


                <div style="max-height: 400px; overflow-y: auto;">
                    <table class="table table-bordered" style="width: 100%; border-collapse: collapse;">
                        <thead style="display: block;">
                            <tr>
                                <th rowspan="2" style="width: 80px;">STT</th>
                                <th rowspan="2" style="width: 170px;">Số mẻ</th>
                                <th rowspan="2" style="width: 100px;">Thùng số</th>
                                <th rowspan="2" style="width: 150px;">Khối lượng xe goong</th>
                                <th rowspan="2" style="width: 150px;">Khối lượng thùng</th>
                                <th rowspan="2" style="width: 200px;">KL thùng & gang lỏng (tấn)</th>
                                <th rowspan="2" style="width: 200px;">KL gang lỏng cân ray (tấn)</th>
                                <th colspan="4" style="width: 160px; text-align:center">Vận chuyển đến</th>
                                <th rowspan="2" style="width: 120px;">Phân loại</th>
                                <th rowspan="2" style="width: 100px;">Giờ</th>
                                <th rowspan="2" style="width: 120px;">Ghi chú</th>
                                <th rowspan="2" style="width: 120px;">Giờ NM</th>
                            </tr>
                            <tr>
                                <th style="width: 80px;">NM.HRC1</th>
                                <th style="width: 80px;">Đúc 1</th>
                                <th style="width: 80px;">NM.HRC2</th>
                                <th style="width: 80px;">Đúc 2</th>
                            </tr>
                        </thead>
                        <tbody style="display: block; max-height: 400px; overflow-y: auto;">
                            @{
                                var index = 1;
                            }
                            @foreach (var item in Model)
                            {
                                <tr style="display: table; width: 100%; table-layout: fixed;">
                                    <td style="width :71px">@index</td>
                                    <td style="width:133px">@item.SoMe</td>
                                    <td style="width:90px">@item.ThungSo</td>

                                    <td style="width:124px">@item.KhoiLuongXeGoong</td>
                                    <td style="width:124px">@item.KhoiLuongThung</td>
                                    <td style="width:160px">@item.KLThungGangLong</td>
                                    <td style="width:159px">@item.KLGangLongCanRay</td>

                                    <td style="width:91px"><input type="checkbox" name="DaXacNhanList" value="1" @(item.VanChuyenHRC1 == 1 ? "checked" : "") disabled /></td>
                                    <td style="width:70px"><input type="checkbox" name="DaXacNhanList" value="1" @(item.Duc1 == 1 ? "checked" : "") disabled /></td>
                                    <td style="width:91px"><input type="checkbox" name="DaXacNhanList" value="2" @(item.VanChuyenHRC2 == 1 ? "checked" : "") disabled /></td>
                                    <td style="width:70px"><input type="checkbox" name="DaXacNhanList" value="1" @(item.Duc2 == 1 ? "checked" : "") disabled /></td>
                                    <td style="width:102px ">@item.PhanLoai</td>
                                    <td style="width:84px">@item.Gio</td>
                                    <td style="width:98px">@item.GhiChu</td>
                                    <td>@item.GioNM</td>
                                </tr>
                                index++;
                            }

                        </tbody>
                        <tfoot style="display: table; width: 100%; table-layout: fixed;">
                            <tr>
                                <td colspan="6" class="text-center font-weight-bold"><b>Tổng khối lượng</b></td>
                                <td class="font-weight-bold">@Model.Sum(x => x.KLGangLongCanRay)</td>
                                <td></td>
                                <td></td>

                            </tr>
                        </tfoot>
                    </table>

                </div>
                <div class="col-lg-12" style="text-align: left; height: 150px; display: flex;">
                    <div class="col-xxl-3 col-md-3">
                        <div style="text-align: center; font-size: 14px; padding-top: 0.5%;">
                            <b>Bên nhận HRC1</b>
                        </div>
                        <div style="text-align: center; font-size: 14px; padding: 2%;"></div>
                        <div style="text-align: center; font-size: 14px;">
                            <b>@ThongTin_BN.HoVaTen</b>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-md-3">
                        <div style="text-align: center; font-size: 14px; padding-top: 0.5%;">
                            <b>Bên nhận HR2</b>
                        </div>
                        <div style="text-align: center; font-size: 14px; padding: 2%;"></div>
                        <div style="text-align: center; font-size: 14px;">
                            <b>@ThongTin_BNHRC2.HoVaTen</b>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-md-3">
                        <div style="text-align: center; font-size: 14px; padding-top: 0.5%;">
                            <b>Phòng QLCL</b>
                        </div>
                        <div style="text-align: center; font-size: 14px; padding: 2%;"></div>
                        <div style="text-align: center; font-size: 14px;">
                            <b>@ThongTin_BN_QLCL.HoVaTen</b>
                        </div>
                    </div>

                    <div class="col-xxl-3 col-md-3">
                        <div style="text-align: center; font-size: 14px; padding-top: 0.5%;">
                            <b>Bên giao</b>
                        </div>
                        <div style="text-align: center; font-size: 14px; padding: 2%;"></div>
                        <div style="text-align: center; font-size: 14px;">
                            <b>@TaiKhoan.HoVaTen</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
