@model Data_Product.Models.Tbl_XuLyXoaPhieu
<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />
@using (Html.BeginForm("HuyPhieu_PheDuyet", "XuLyPhieu", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog" style="padding-top:1.5%;">
        <div class="modal-content" style="max-width: none; width: 800px;">
            <div class="modal-header" style="background-color: #F9F9F9;">
                <h5 id="ModalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12" style="padding-bottom: 1.5%;">
                    <label for="inputEmail5" class="form-label">  Bên nhận xử lý</label>
                    @Html.DropDownListFor(model => model.ID_TaiKhoanBN, ViewBag.NhanVienBN as SelectList, new {  @style="text-align: center;", @id = "ID_TaiKhoanBN", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_TaiKhoanBN, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-12" style="padding-bottom: 1.5%;">
                    <label for="inputEmail5" class="form-label">  Nhân viên thống kê phê duyệt</label>
                    @Html.DropDownListFor(model => model.ID_TaiKhoanKH, ViewBag.NhanVienTT as SelectList, "----- Chọn nhân viên thống kê phê duyệt ------", new {  @style="text-align: center;", @id = "ID_TaiKhoan", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_TaiKhoanKH, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-12" style="padding-bottom: 1.5%;">
                    <label for="inputEmail5" class="form-label">  Nhân viên thống kê nhận thông tin</label>
                    @Html.DropDownListFor(model => model.ID_TaiKhoanKH_View, ViewBag.NhanVien_TT_View as SelectList, "----- Chọn nhân viên thống kê nhận thông tin ------", new {  @style="text-align: center;", @id = "ID_TaiKhoanKH_View", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_TaiKhoanKH_View, "", new { @class = "text-danger" })
                </div>


              @*  <div class="col-md-12" style="padding-bottom: 1.5%;">
                    <label for="inputEmail5" class="form-label"> Nhân viên thống kê nhận BBGN</label>
                    @Html.DropDownListFor(model => model.ID_TaiKhoan_View, ViewBag.NhanVien_TT_View as SelectList, "----- Chọn nhân viên thống kê nhận BBGN ------", new {  @style="text-align: center;", @id = "ID_TaiKhoan_View", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_TaiKhoan_View, "", new { @class = "text-danger" })
                </div>*@
            </div>
            <div class="form-group" style="text-align: end;padding: 0% 3% 3% 3%;">
                <input type="submit" style="border-radius: 10px;" value="Xác nhận" id="btnSubmit" class="btn btn-primary pull-right" />
            </div>
        </div>
    </div>
}
<script>
    $("#ID_TaiKhoanKH_View").chosen({
        width: "100%"
    });
    $("#ID_TaiKhoan").chosen({
        width: "100%"
    });
</script>