@model Data_Product.Models.Tbl_MaLo

<script src="~/Content/assets/Chonse/chosen.jquery.js"></script>
<link href="~/Content/assets/Chonse/chosen.css" rel="stylesheet" />

@using (Html.BeginForm("Create", "MaLo", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog" style="padding-top:1.5%;">
        <div class="modal-content" style="max-width: none; width: 800px;">
            <div class="modal-header" style="background-color: #F9F9F9;">
                <h5 id="ModalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12" style="padding-bottom: 1.5%;">
                    <label for="inputEmail5" class="form-label">Tên mã lô</label>
                    @Html.EditorFor(model => model.TenMaLo, new { htmlAttributes = new { @class = "form-control", placeholder = "", @id = "" } })
                    @Html.ValidationMessageFor(model => model.TenMaLo, "", new { @class = "text-danger" })
                </div>
             @*   <div class="col-md-12" style="padding-bottom: 1.5%;">
                    <label for="inputEmail5" class="form-label">Tên BP/NM</label>
                    @Html.DropDownList("ID_PhongBan", null, "", new { id = "multiSelect", @class = "form-control", @style = "width:100%", multiple = "multiple" })
                </div>*@

                <div class="col-md-12" style="padding-bottom: 1.5%;">
                    <label for="inputEmail5" class="form-label">Tên Vật tư</label>
                    @Html.DropDownList("ID_VatTu", null, "", new { id = "multiSelect", @class = "form-control", @style = "width:100%", multiple = "multiple" })
                </div>

            </div>
            <div class="form-group" style="text-align: end;padding: 0% 3% 3% 3%;">
                <input type="submit" style="border-radius: 10px;" value="Xác nhận" id="btnSubmit" class="btn btn-primary pull-right" />
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('#multiSelect').chosen({
            width: '100%'
        });
    });
</script>