@model IEnumerable<Data_Product.Models.Tbl_Xuong>
@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
@inject Data_Product.Repositorys.DataContext _context

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

<!-- DataTables -->
<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

@if (TempData["msgSuccess"] != null)
{
    @Html.Raw(TempData["msgSuccess"])
}
@if (TempData["msgError"] != null)
{
    @Html.Raw(TempData["msgError"])
}
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }

}
<div class="app-main__outer">
    <div class="app-main__inner" style="display:block;padding-bottom: 0px;">
        <div class="tab-content">
            <div class="row">
                <div class="card">
                    <div class="row" style="height: 120px;">
                        <div style="display: flex;border-bottom: 0.8px solid #E8E8E8;position: fixed;background-color:#F9F9F9;width:-webkit-fill-available;">
                            <div class="col-6" style="text-align: left;padding: 2%  2%  2% 0%; ">

                                <span class="text-muted small pt-2 ps-1">
                                    <b style="color:#06428b;font-size: 15px;">
                                        DANH SÁCH PHÂN XƯỞNG
                                    </b>
                                </span>
                            </div>
                            <div class="col-4" style="text-align: right;padding: 2%  2%  2% 0%; ">
                                <button type="button" class="btn btn-success" id="btnCheckPhieu">
                                    Check Tạo Phiếu BTBD
                                </button>
                                <button id="btn-add" type="button" class="btn btn-primary">
                                    <i class="bi bi-plus-lg"></i> Thêm mới
                                    <span class="small pt-2 ps-1" style="color: white;">
                                        <i></i><span style="color: white;"></span>
                                    </span>
                                </button>
                                <!-- Nút mở modal -->
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#phanQuyenModal">
                                    Phân quyền BTBD
                                </button>
                               
                              

                                <button id="btn-Import" type="button" class="btn btn-primary">
                                    <i class="bi bi-box-arrow-up"></i>
                                    <span class="small pt-2 ps-1" style="color: white;">
                                        <i></i><span style="color: white;">Import Excel</span>
                                    </span>
                                </button>

                            </div><!-- End Recent Sales -->
                            <div class="col-2" style="text-align: right;padding: 2%  2%  2% 0%; ">
                                <form method="get" asp-controller="Xuong" asp-action="ExportToExcel">
                                    <button type="submit" class="btn btn-primary">Download Excel</button>
                                </form>
                            </div>
                        </div>
                    </div>

                 @*   Thêm mới*@
                    <div class="modal" id="myModal" role="dialog" data-url='@Url.Action("Create","Xuong")'></div>
                    <script type="text/javascript">
                        $('#btn-add').click(function () {
                            var url = $('#myModal').data('url');
                            $.get(url, function (data) {
                                $("#myModal").html(data);
                                $("#ModalTitle").html("THÊM MỚI THÔNG TIN");
                                $("#myModal").modal('show');
                            });
                        });
                    </script>

                    @*    Import Excel*@
                    <div class="modal fade" id="myModalImportExcel" role="dialog" data-url='@Url.Action("ImportExcel","Xuong")'></div>
                    <script type="text/javascript">
                        $('#btn-Import').click(function () {
                            var url = $('#myModalImportExcel').data('url');
                            $.get(url, function (data) {
                                $("#myModalImportExcel").html(data);
                                $("#ModalTitle").html("IMPORT DANH SÁCH");
                                $("#myModalImportExcel").modal('show');
                            });
                        });
                    </script>
                    <div class="card-header" style="border-bottom: 0px; padding-bottom:2%;display:none">
                        <div class="row">
                            <div class="col-md-5">
                                <input type="text" id="txtsearch" name="" placeholder="Tìm kiếm" class="form-control" value="@ViewBag.search">
                            </div>
                            <div class="col-md-2" style="text-align:left;">
                                <button class="btn btn-primary" id="btn-search" style="border-radius: 5px;">
                                    <i class="bi bi-search"></i>
                                    <span class="small pt-2 ps-1" style="color: white;">
                                        Tìm kiếm
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Gọi partial view -->
                    @Html.Partial("_PhanQuyenModal",Model)
                    <div class="card-body">
                        <div class="table-responsive" style="">
                            <table class="table table-bordered table-hover" id="table" cellpadding="0">
                                <thead style="font-size: 14px;">
                                    <tr>
                                        <th class="text-center" width="30px"    style="vertical-align:middle;background-color: #f7f7f7;">STT</th>
                                        <th class="text-center" width="50px" style="vertical-align:middle;background-color: #f7f7f7;">Chọn Xưởng</th>
                                        <th class="text-center"    width="200px" style="vertical-align:middle;background-color: #f7f7f7;">Tên xưởng</th>
                                        <th class="text-center"    width="150px" style="vertical-align:middle;background-color: #f7f7f7;">Tên BP/NM</th>
                                        <th class="text-center"    width="200px" style="vertical-align:middle;background-color: #f7f7f7;">Thống kê xử lý</th>
                                        <th class="text-center" width="200px" style="vertical-align:middle;background-color: #f7f7f7;">Nhân viên xử lý BTBD</th>
                                        <th class="text-center"    width="100px" style="vertical-align:middle;background-color: #f7f7f7;">Tình trạng</th>
                                        <th class="text-center"    width="100px" style="vertical-align:middle;background-color: #f7f7f7;">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int pageno = (int)pager.CurrentPage;
                                        int itemperpage = (int)pager.PageSize;
                                        int RowNo = ((pageno - 1) * itemperpage) + 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        var dsThongKe = _context.Tbl_ThongKeXuong.Where(x => x.ID_Xuong == item.ID_Xuong).ToList();
                                        var dsBTBD = (from q in _context.Tbl_QuyenXuLy
                                                      join tk in _context.Tbl_TaiKhoan on q.ID_TaiKhoan equals tk.ID_TaiKhoan
                                                      where q.MaXL == "BTBD" && q.ID_XuongXL == item.ID_Xuong
                                                      select new
                                                      {
                                                          q.ID_TaiKhoan,
                                                          tk.HoVaTen,
                                                          tk.TenTaiKhoan,
                                                          q.ID_XuongXL,
                                                          q.MaXL,
                                                          q.ID
                                                      }).ToList();
                                        <tr>
                                            <td class="text-center">
                                                @RowNo@{
                                                    RowNo++;
                                                }
                                            </td>
                                            <td class="text-center"> 
                                                @if(item.IsPhieuDungSX != 1)
                                                {
                                                    <input type="checkbox" class="chkXuong" value="@item.ID_Xuong">
                                                }
                                                else
                                                {
                                                    <button class="btnuncheck btn btn-danger" data-id="@item.ID_Xuong">Bỏ check</button>
                                                }

                                            </td>
                                            <td style="font-size:14px;">@item.TenXuong </td>
                                            <td style="font-size:14px;">@item.TenPhongBan </td>
                                            @if (dsThongKe.Count() != 0)
                                            {
                                                <td class="text-center" id="myTd_@item.ID_Xuong" style="font-size:14px;">
                                                    @foreach(var k in dsThongKe)
                                                    {
                                                        var nv = _context.Tbl_TaiKhoan.Where(x => x.ID_TaiKhoan == k.ID_TaiKhoan).FirstOrDefault();
                                                        <script>
                                                            $("#myTd_@item.ID_Xuong").append('<span> - @nv.TenTaiKhoan @nv.HoVaTen</span> <br/>')
                                                        </script>
                                                    }
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center" style="font-size:14px;">
                                                </td>
                                            }
                                            @if (dsBTBD.Count() != 0)
                                            {
                                                <td class="text-center" id="myTd_@item.ID_Xuong" style="font-size:14px;">
                                                    @foreach (var k in dsBTBD)
                                                    {
                                                        <div id="row_@k.ID" >
                                                            <span>@k.TenTaiKhoan - @k.HoVaTen</span>
                                                            <button class="btn btn-sm btn-danger ms-2" onclick="xoaQuyen(@k.ID)">Xóa</button>
                                                        </div>
                                                    }
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center" style="font-size:14px;">
                                                </td>
                                            }
                                           
                                            @if (item.ID_TrangThai == 1)
                                            {
                                                <td class="text-center" style="font-size:14px;">
                                                    <span> Hoạt động</span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center" style="font-size:14px;background-color: red;">
                                                    <span style="color: white;"> Đã khóa</span>
                                                </td>
                                            }
                                            <td class="text-center">
                                                @if (item.ID_TrangThai == 1)
                                                {
                                                    <a class="btn btn-primary btn-sm" title="Khóa tài khoản" href="@Url.Action("Lock", "Xuong", new { id = item.ID_Xuong })"
                                                       onclick="return confirm('Bạn muốn khóa tài khoản : @item.TenXuong')">
                                                        <i class="bi bi-lock-fill"></i>
                                                    </a>
                                                }
                                                else
                                                {

                                                    <a class="btn btn-danger btn-sm" title="Khóa tài khoản" href="@Url.Action("Unlock", "Xuong", new { id = item.ID_Xuong })"
                                                       onclick="return confirm('Bạn muốn khóa tài khoản : @item.TenXuong')">
                                                        <i class="bi bi-unlock-fill"></i>
                                                    </a>
                                                }
                                              @*  <a class="btn btn-danger btn-sm" title="Xóa" href="@Url.Action("Delete", "Xuong", new { id = item.ID_Xuong })"
                                                   onclick="return confirm('Bạn muốn xóa xưởng : @item.TenXuong')">
                                                    <i class="bi bi-trash"></i>
                                                </a>*@

                                                <a class="btn btn-primary btn-sm" id="btn-edit_@item.ID_Xuong" title="Chỉnh sửa"><i class="bi bi-pencil-square"></i></a>
                                                <div class="modal" id="myModaleF_@item.ID_Xuong" role="dialog" data-url='@Url.Action("Edit","Xuong",new{id = item.ID_Xuong})'></div>
                                                <script type="text/javascript">
                                                    $("#btn-edit_@item.ID_Xuong").click(function () {
                                                        var url = $('#myModaleF_@item.ID_Xuong').data('url');
                                                        $.get(url, function (data) {
                                                            $("#myModaleF_@item.ID_Xuong").html(data);
                                                            $("#ModalTitle").html("CHỈNH SỨA THÔNG TIN");
                                                            $("#myModaleF_@item.ID_Xuong").modal('show');
                                                        });
                                                    });
                                                </script>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>
                        <div class="container" style="margin:0px; padding:1% 0% 0% 0%;">
                            @if (pager.TotalPages > 0)
                            {
                                <ul class="pagination justify-content-start ">
                                    @for (var pge = pager.StartPages; pge <= pager.EndPages; pge++)
                                    {
                                        <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                                            <a class="page-link" asp-asp-controller="Xuong" asp-action="Index" asp-route-page="@pge">@pge</a>

                                        </li>
                                    }
                                    @if (pager.CurrentPage < pager.TotalPages)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-asp-controller="Xuong" asp-action="Index" asp-route-page="@(pager.CurrentPage + 1)">Next</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" asp-asp-controller="Xuong" asp-action="Index" asp-route-page="@(pager.TotalPages)">Last</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<script type="text/javascript">
    $("#btn-search").on('click', function () {
        var search = $('#txtsearch').val();
        window.location.href = '@Url.Action("Index", "Xuong")?search=' + search;
    });
</script>
<script>
    $(document).ready(function () {
        $('#table').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            fixedHeader: true, // Kích hoạt FixedHeader
            scrollY: '70vh', // Chiều cao của vùng cuộn (vertical height)
            scrollCollapse: true, // Cho phép bảng co lại khi có ít dữ liệu
            //paging: false // Tắt phân trang nếu cần
        });
    });
</script>
<script>
    $(document).ready(function () {
        $("#btnCheckPhieu").click(function () {
            // Lấy danh sách ID xưởng đã chọn
            var selected = [];
            $(".chkXuong:checked").each(function () {
                selected.push($(this).val());
            });

            if (selected.length === 0) {
                alert("Vui lòng chọn ít nhất một xưởng!");
                return;
            }

            // Gửi sang Controller bằng AJAX
            $.ajax({
                url: '/Xuong/SaveSelected', // Action trong Controller
                type: 'POST',
                // contentType: 'application/json; charset=utf-8',
                // traditional: true,
                data: { ids: selected },
                success: function (res) {
                    alert(res.message);
                    location.reload();
                },
                error: function () {
                    alert("Có lỗi xảy ra!");
                }
            });
        });
       $(".btnuncheck").click(function () {
        var btn = $(this);
        var id = btn.data("id");

        $.ajax({
            url: '/Xuong/DeleteSelected',
            type: 'POST',
            traditional: true,
            data: { ids: id }, // chỉ gửi id
            success: function (res) {
                if (res.success) {
                    alert(res.message);
                    btn.replaceWith(
                        '<input type="checkbox" class="chkXuong" value="' + id + '" />'
                    );
                } else {
                    alert(res.message);
                }
            },
            error: function () {
                alert("Có lỗi khi cập nhật!");
            }
        });
    });
    });
</script>



<script>
    
    function themDong() {
        const row = `
               <tr>
                                    <td>
                                                <select name="TaiKhoan" class="form-select select-taikhoan">
    @foreach (var item in (SelectList)ViewBag.TKList)
    {
                                                    <option value="@item.Value">@item.Text</option>
    }
                                        </select>
                                    </td>
                                    <td>
                                                <select name="DanhSachXuong" class="form-select select-xuong" multiple>
    @foreach (var item in (SelectList)ViewBag.XList)
    {
                                                    <option value="@item.Value">@item.Text</option>
    }
                                        </select>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" onclick="xoaDong(this)">Xóa</button>
                                    </td>
                                </tr>`;
        $('#phanQuyenTableBody').append(row);
        $(".select-taikhoan").chosen({
            width: "100%"
        });
        $(".select-xuong").chosen({
            width: "100%"
        });
    }

    function xoaDong(btn) {
        $(btn).closest('tr').remove();
    }

    function submitPhanQuyen() {
        let data = [];

        $("#phanQuyenTableBody tr").each(function () {
            const taiKhoan = $(this).find("select[name='TaiKhoan']").val();
            const dsXuong = $(this).find("select[name='DanhSachXuong']").val(); // array

            data.push({
                TaiKhoan: taiKhoan,
                DanhSachXuong: dsXuong // mảng
            });
        });

        $.ajax({
            type: "POST",
            url: "/Xuong/SaveQuyenBTBD", // thay bằng controller thực tế
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function (res) {
                alert(res.message);
                location.reload();
            },
            error: function (err) {
                alert("Lỗi khi lưu: " + err.responseText);
            }
        });
    }
    function xoaQuyen(id) {
        if (confirm("Bạn có chắc muốn xóa quyền này không?")) {
            $.ajax({
                url: '/Xuong/DeleteQuyen',
                type: 'POST',
                data: { id: id },
                success: function (res) {
                    if (res.status === "ok") {
                        $('#row_' + id).remove();
                    } else {
                        alert("Lỗi: " + res.message);
                    }
                },
                error: function () {
                    alert("Có lỗi xảy ra khi xóa!");
                }
            });
        }
    }

</script>
